<div class="col-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center container">
                <h3 class="card-title">Quản lý danh mục</h3>
                <button type="button" class="btn btn-success">Thêm mới</button>
            </div>            
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover dataTable dtr-inline">
                <thead class="table-info">
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên DM</th>
                        <th scope="col">Ngày tạo</th>
                        <th scope="col">Phụ thuộc</th>
                        <th scope="col">Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each categories}}
                        <tr>
                            <th scope="row">{{indexPage @index 1 10}}</th>
                            <td>{{this.Name}}</td>
                            <td>{{formatDate this.CreationDate}}</td>
                            <td>
                                <select name="partents" class="form-control">
                                    {{partentsCat this._id this.partent ../this.categories}}
                                </select>                                
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary">Cập nhật</button>
                                <button type="button" class="btn btn-danger">Xóa</button>
                            </td>
                        </tr>
                    {{/each}}                    
                </tbody>
            </table>
        </div>
    </div>
</div>