.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}
.btn-login-active{
    position: relative;
    border-color: #fff;
}
.btn-login-active:hover{
    border-color: #fff;
}   
.btn-login-active::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
}
@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}