<link rel="stylesheet" href="/css/plugin/home.css">
<div class="banner">
    <div class="swiper h-100 w-100 swiperBanner" style="cursor: pointer;z-index: 0;">
        <div class="swiper-wrapper">
            <div class="swiper-slide w-100 h-100 text-light banner_slide">
                <img src="/imgs/home/banner/banner_home.jpg" alt="banner">
            </div>
            <div class="swiper-slide bg-i-primary w-100 h-100 text-light banner_slide">
                <img src="/imgs/home/banner/banner_home-2.jpg" alt="banner">
            </div>
            <div class="swiper-slide bg-i-primary w-100 h-100 text-light banner_slide">
                <img src="/imgs/home/banner/banner_home.jpg" alt="banner">
            </div>
        </div>
    </div>
    <div class="banner-pagination swiper-pagination"></div>
    <h2 class="intro-title" id="intro-title">
        Mang đến trải nghiệm du lịch trọn vẹn cho bạn
    </h2>
    <div class="form-search-itravel">
        <div class="form-search-itravel__option">
            <span class="nav-link text-light" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Một chiều
                <i class="fas fa-chevron-down"></i>
            </span>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <span class="dropdown-item">Một chiều</span>
                <span class="dropdown-item">Khứ hồi</span>
            </div>
        </div>
        <div class="form-search-itravel__content px-5 py-4">
            <div class="form-group d-flex form-search-itravel__content_togo">
                <div class="d-flex w-50 align-items-center mx-3">
                    <h4 style="flex: 1;" class="mb-0 mr-2">Điểm đi</h4>
                    <input style="flex: 4;" type="text" placeholder="Gõ tên thành phố/ mã sân bay Nội địa hoặc Quốc tế">
                </div>
                <div class="d-flex w-50 align-items-center mx-3">
                    <h4 style="flex: 1;" class="mb-0 mr-2">Điểm đến</h4>
                    <input style="flex: 4;" type="text" placeholder="Gõ tên thành phố/ mã sân bay Nội địa hoặc Quốc tế">
                </div>
            </div>
            <div class="form-group mt-5 d-flex align-items-end">
                <div class="mx-3">
                    <h4>Khởi hành</h4>
                    <input type="date">
                </div>
                <div class="mx-3">
                    <h4>Quay về</h4>
                    <input type="date">
                </div>
                <div class="mx-3">
                    <h4>Người lớn</h4>
                    <select>
                        <option value="1">01 người</option>
                        <option value="2">02 người</option>
                        <option value="3">03 người</option>
                        <option value="4">04 người</option>
                        <option value="5">05 người</option>
                        <option value="6">06 người</option>
                    </select>
                </div>
                <div class="mx-3">
                    <h4>Trẻ em <span class="attention">(2-11 tuổi)</span></h4>
                    <select>
                        <option value="0">0 người</option>
                        <option value="1">01 người</option>
                        <option value="2">02 người</option>
                        <option value="3">03 người</option>
                        <option value="4">04 người</option>
                        <option value="5">05 người</option>
                        <option value="6">06 người</option>
                    </select>
                </div>
                <div class="mx-3">
                    <h4>Em bé <span class="attention">(<2 tuổi)</span></h4>
                    <select>
                        <option value="0">0 người</option>
                        <option value="1">01 người</option>
                        <option value="2">02 người</option>
                        <option value="3">03 người</option>
                        <option value="4">04 người</option>
                        <option value="5">05 người</option>
                        <option value="6">06 người</option>
                    </select>
                </div>
                <div class="mx-3 text-right">
                    <button style="background-color: #21BA9D;" class="btn btn-search-home">Tìm kiếm</button>
                </div>
            </div>            
        </div>
    </div>
</div>
<div class="main-home" id="main-home">
    <div class="main-home-contents">
        <div class="main-home-contents_title">
            <div class="row">
                <div class="col-md-12 pt-md-5">
                   <h3 class="main-home-contents_title_text mt-md-5">Quá trình hình thành và phát triển</h3>
                   <h4 class="main-home-contents_text mt-md-4">
                        Thành lập vào năm 2010, Itravel ra đời với sứ mệnh trở thành một trong những công ty tư vấn và đặt vé máy bay, khách sạn
                        hàng đầu Việt Nam
                   </h4>
                </div>
            </div>
            <div class="main-home-contents_list">
                <div class="main-home-contents_items" style="--data-width: 187px;--data-height: 122px;--data-top:250px;--data-left:370px;--data-delay:0.3s;">
                    <span style="--data-img:url('/imgs/home/img-animate/main-home-1.png')"></span>
                </div>   
                <div class="main-home-contents_items" style="--data-width: 255px;--data-height: 295px;--data-top:320px;--data-left:-116px;--data-delay:0.5s;">
                    <span style="--data-img:url('/imgs/home/img-animate/main-home-2.jpg')"></span>
                </div>   
                <div class="main-home-contents_items" style="--data-width: 328px;--data-height: 214px;--data-top:350px;--data-right:-190px;--data-delay:0.7s;">
                    <span style="--data-img:url('/imgs/home/img-animate/main-home-3.jpg')"></span>
                </div> 
                <div class="main-home-contents_items" style="--data-width: 187px;--data-height: 122px;--data-bottom:200px;;--data-delay:0.9s;">
                    <span style="--data-img:url('/imgs/home/img-animate/main-home-4.jpg')"></span>
                </div> 
                <div class="main-home-contents_items" style="--data-width: 248px;--data-height: 162px;--data-bottom:0;--data-left:370px;--data-delay:1.1s;">
                    <span style="--data-img:url('/imgs/home/img-animate/main-home-5.jpg')"></span>
                </div>  
                <div class="main-home-contents_items" style="--data-width: 400px;--data-height: 260px;--data-bottom:0;--data-right:60px;--data-delay:1.3s;">
                    <span style="--data-img:url('/imgs/home/img-animate/main-home-6.jpg')"></span>
                </div>                
            </div>
        </div>
    </div>
</div>
<div class="home-more" id="home-more">
    <div class="h-100" style="padding: 0px 170px;">
        <div class="row h-100">
            <div class="col-md-7 text-light d-flex align-items-center">
                <div class="home-more_slide">
                    <!-- Swiper -->
                    <div class="h-100" style="position: relative;">
                        <div class="swiper h-100 mySwiper" style="cursor: pointer;">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide home-more_slide_list">
                                    <img src="/imgs/home/home-more/slide-1.jpg" alt="banner">
                                </div>
                                <div class="swiper-slide bg-white w-100 h-100 text-dark">Slide 2</div>
                                <div class="swiper-slide bg-white w-100 h-100 text-dark">Slide 3</div>
                            </div>
                        </div>
                        <div class="itravel-sildeHome-button-next">
                            <i class="fas fa-arrow-right"></i>
                        </div>
                        <div class="itravel-sildeHome-button-prev">
                            <i class="fas fa-arrow-left"></i>
                        </div>
                    </div>                    
                </div>               
            </div>
            <div class="col-md-5 text-light d-flex justify-content-center align-items-center" style="z-index: 1;">
                <div class="home-more-contents">
                    <h3>Đà Lạt - thành phố với vẻ đẹp mộng mơ</h3>
                    <h4>
                        Đà Lạt cao hơn 1500 mét so với mặt biển, điều này làm cho thời tiết ở đây quanh năm mát mẻ. Ở Đà Lạt, nhiều loại đồi,
                        suối, thác nước kết hợp hài hòa tạo thành khung cảnh thiên nhiên hữu tình.
                    </h4>
                    <button class="btn">
                        KHÁM PHÁ THÊM
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="home-more_vector">
       <svg viewBox="0 0 1000 640" fill="none">
        <path xmlns="http://www.w3.org/2000/svg" d="M578.535 -63.0416C500.496 -9.66888 372.637 -104.134 313.127 -32.5834C280.029 7.21478 292.102 61.3526 349.869 117.261C440.619 205.081 491.867 313.842 400.102 376.595C292.173 450.411 146.441 272.449 -85.4935 506.756" pathLength="1" style="--color: #FFC60B"/>
      </svg>
    </div>
    <div class="home-more_vector">
        <svg viewBox="0 0 1000 640" fill="none">
            <path xmlns="http://www.w3.org/2000/svg" d="M -94.726 1184.58 C -94.726 1184.58 -103.5234 1040.79 22.417 891.733 C 142.987 749.09 263.029 696.371 447.779 680.885 C 601.816 667.931 731.761 643.802 835.449 521.095 C 1027.64 293.671 891.367 -4.4493 775.675 5.2707 C 719.141 10.0296 705.369 70.3654 742.375 101.621 C 820.337 167.439 906.84 96.1566 1048.51 88.3128 C 1190.19 80.4689 1247.4 131.758 1247.4 131.758" pathLength="1" style="--color: #004C3F"/>
        </svg>
    </div>
</div>
<div class="home-news">
    <div class="container-fluid">
        <div class="home-news_contain">
            <div class="home-news-title">
                <h3>Tin tức</h3>
                <a href="#">Xem thêm tin tức ></a>
            </div>
            <div class="home-news_list">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card border-0 w-100">
                            <div class="card-img-top text-center">
                                <img src="/imgs/news/news-1.jpg" alt="Hinh anh tin tuc">
                            </div>
                            <div class="card-body w-75">
                                <h5 class="card-title">04/10/2022  |  16:23</h5>
                                <a href="#" class="card-text">
                                    Bảng giá tham quan toàn quốc 2022
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card border-0 w-100">
                            <div class="card-img-top text-center">
                                <img src="/imgs/news/news-2.jpg" alt="Hinh anh tin tuc">
                            </div>
                            <div class="card-body w-75">
                                <h5 class="card-title">13/07/2022  |  17:09</h5>
                                <a href="#" class="card-text">
                                    6 bãi biển đẹp nhất Phú Quốc
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card border-0 w-100">
                            <div class="card-img-top text-center">
                                <img src="/imgs/news/news-3.jpg" alt="Hinh anh tin tuc">
                            </div>
                            <div class="card-body w-75">
                                <h5 class="card-title">25/06/2022  |  13:56</h5>
                                <a href="#" class="card-text">
                                    Trải nghiệm đẳng cấp cùng du thuyền trên biển
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

<div class="intro-bonus-home">
    <div class="container-fluid">
        <div class="home-news_contain">
            <div class="row">
                <div class="col-md-6">
                    <span class="intro-bonus-home_title">
                        Bạn đã có ý tưởng gì cho chuyến hành trình sắp tới chưa?
                    </span>
                    <a href="#" class="intro-bonus-home_linkto">
                        Khám phá kho ảnh của itravel
                        <svg width="21" height="14" viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M14.1444 0.278417L20.6984 6.32784C21.1005 6.69906 21.1005 7.30094 20.6984 7.67216L14.1444 13.7216C13.7423 14.0928 13.0902 14.0928 12.688 13.7216C12.2858 13.3504 12.2858 12.7485 12.688 12.3773L17.4839 7.95058H0.950575C0.425587 7.95058 0 7.52499 0 7C0 6.47501 0.425586 6.04943 0.950574 6.04943H17.4839L12.688 1.62273C12.2858 1.25151 12.2858 0.64964 12.688 0.278417C13.0902 -0.0928057 13.7423 -0.0928057 14.1444 0.278417Z"
                                fill="#21BA9D" />
                        </svg>   
                    </a>
                </div>
                <div class="col-md-6">
                    <span class="intro-bonus-home_text">
                        Việc lên ý tưởng và kế hoạch cho một chuyến hành trình du lịch có thể là một điều khá khó khăn, nếu
                        bạn đang cảm thấy bí
                        bách cho ý tưởng đi du lịch của mình, thì hãy để Itravel gợi ý cho các bạn một vài ý tưởng cho
                        chuyến hành trình sắp tới
                        bằng một album ảnh sau nhé.
                    </span>
                </div>
            </div> 
        </div>
    </div>
</div>
<div class="home_effect" id="home_effect">
    <div class="container-fluid" style="position: relative;">
        <div class="home-news_contain">
            <div class="home-bonus_effect">
                <div class="home-bonus_effect_slide align-items-end">
                    <span class="home-bonus_effect_child"
                        style="--data-bg:url('/imgs/home/img-animate/home-bonus-1.png');--data-width: 241px;--data-height: 299px;--data-margin: 60px 0px 100px 0px;--data-delay:0.3s;"></span>
                    <span class="home-bonus_effect_child" style="--data-bg:url('/imgs/home/img-animate/home-bonus-2.png');--data-width: 189px;--data-height: 170px;--data-margin: -75px 0px 220px auto;--data-delay:0.3s;"></span>
                </div>
                <div class="home-bonus_effect_slide">
                    <span class="home-bonus_effect_child" style="--data-bg:url('/imgs/home/img-animate/home-bonus-3.png');--data-width: 450px;--data-height: 700px;--data-margin: auto 0px 100px 0px;--data-delay:0.1s;"></span>
                </div>
                <div class="home-bonus_effect_slide align-items-start">
                    <span class="home-bonus_effect_child"
                        style="--data-bg:url('/imgs/home/img-animate/home-bonus-4.png');--data-width: 145px;--data-height: 146px;--data-margin: 90px 0px 100px 0px;--data-delay:0.3s;"></span>
                    <span class="home-bonus_effect_child" style="--data-bg:url('/imgs/home/img-animate/home-bonus-5.png');--data-width: 246px;--data-height: 305px;--data-delay:0.3s;--data-margin: -75px 0px 160px 0px;"></span>
                </div>
            </div>
        </div>
        <div class="bonus-effect_vector">
            <svg viewBox="0 0 1920 733" fill="none">
                <path xmlns="http://www.w3.org/2000/svg"
                    d="M-122.152,267.887C-122.152,267.887 -93.4494,361.808 66.7367,446.847C226.923,531.885 368.668,511.059 410.472,634.588C430.305,693.238 375.367,750.15 310.368,717.998C177.369,652.181 225.28,235.961 585.837,114.142C780.367,48.4091 938.484,107.88 1115.57,195.498C1327.94,300.642 1494.11,322.288 1720.29,245.9C1956.58,166.044 2041.97,2.91221 2041.97,2.91221"
                    pathLength="1" style="--color: #FFC60B" />
            </svg>
        </div>
    </div>
</div>



<div class="home-feedback" id="home-feedback">
    <div class="container-fluid h-100">
        <div class="home-news_contain h-100">
            <div class="home-feedback_contain m-auto">
                <div class="swiper h-100 w-100 swiperFeedback" style="cursor: pointer;z-index: 0;">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide home-feedback_slide bg-i-feedback w-100 h-100 text-light">
                            <div class="row h-100">
                                <div class="col-md-6">
                                    <div class="home-feedback_slide_contain">
                                        <div class="feedback-detail">
                                            <h4>
                                                Feedback từ khách hàng
                                            </h4>
                                            <h6>
                                                Tôi tìm đến Itravel để đặt lịch và nhận lời tư vấn cho chuyến du lịch với trường vừa qua, tôi
                                                thấy đội ngũ
                                                của
                                                họ có
                                                nghiệp vụ tốt và hướng dẫn chúng tôi rất tận tình trong suốt chuyến hành trình.
                                            </h6>
                                        </div>
                                        <hr style="background: rgba(0, 171, 165, 0.3);margin: 30px 0px;">
                                        <div class="feedback-infor">
                                            <span>
                                                Bạn Nguyễn Hoài An
                                            </span>
                                            <span>
                                                Sinh viên trường Đại học Ngoại Thương
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 h-100" style="position: relative;">
                                    <img class="imgs-feedback-user" src="/imgs/home/feedback/user1.png" alt="user feedback">
                                    <div class="feedback_vector">
                                        <svg viewBox="0 0 1200 640" fill="none">
                                            <path xmlns="http://www.w3.org/2000/svg"
                                                d="M225.717,-43.2404C225.717,-43.2404 170.625,-10.5833 141.486,104.026C112.347,218.636 147.454,305.252 75.6228,350.772C41.5156,372.375 -3.04641,346.328 7.28578,300.186C28.4441,205.765 299.65,172.008 432.586,381.727C504.314,494.875 491.059,604.235 462.898,729.953C429.08,880.726 441.044,989.365 524.417,1120.92C611.549,1258.36 728.141,1287.34 728.141,1287.34"
                                                pathLength="1" style="--color: #21BA9D" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide home-feedback_slide bg-i-feedback w-100 h-100 text-light">
                            <div class="row h-100">
                                <div class="col-md-6">
                                    <div class="home-feedback_slide_contain">
                                        <div class="feedback-detail">
                                            <h4>
                                                Feedback từ khách hàng
                                            </h4>
                                            <h6>
                                                Tôi tìm đến Itravel để đặt lịch và nhận lời tư vấn cho chuyến du lịch với trường vừa qua, tôi
                                                thấy đội ngũ
                                                của
                                                họ có
                                                nghiệp vụ tốt và hướng dẫn chúng tôi rất tận tình trong suốt chuyến hành trình.
                                            </h6>
                                        </div>
                                        <hr style="background: rgba(0, 171, 165, 0.3);margin: 30px 0px;">
                                        <div class="feedback-infor">
                                            <span>
                                                Bạn Nguyễn Hoài An
                                            </span>
                                            <span>
                                                Sinh viên trường Đại học Ngoại Thương
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 h-100" style="position: relative;">
                                    <img class="imgs-feedback-user" src="/imgs/home/feedback/user1.png" alt="user feedback">
                                    <div class="feedback_vector">
                                        <svg viewBox="0 0 1200 640" fill="none">
                                            <path xmlns="http://www.w3.org/2000/svg"
                                                d="M225.717,-43.2404C225.717,-43.2404 170.625,-10.5833 141.486,104.026C112.347,218.636 147.454,305.252 75.6228,350.772C41.5156,372.375 -3.04641,346.328 7.28578,300.186C28.4441,205.765 299.65,172.008 432.586,381.727C504.314,494.875 491.059,604.235 462.898,729.953C429.08,880.726 441.044,989.365 524.417,1120.92C611.549,1258.36 728.141,1287.34 728.141,1287.34"
                                                pathLength="1" style="--color: #21BA9D" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide home-feedback_slide bg-i-feedback w-100 h-100 text-light">
                            <div class="row h-100">
                                <div class="col-md-6">
                                    <div class="home-feedback_slide_contain">
                                        <div class="feedback-detail">
                                            <h4>
                                                Feedback từ khách hàng
                                            </h4>
                                            <h6>
                                                Tôi tìm đến Itravel để đặt lịch và nhận lời tư vấn cho chuyến du lịch với trường vừa qua, tôi
                                                thấy đội ngũ
                                                của
                                                họ có
                                                nghiệp vụ tốt và hướng dẫn chúng tôi rất tận tình trong suốt chuyến hành trình.
                                            </h6>
                                        </div>
                                        <hr style="background: rgba(0, 171, 165, 0.3);margin: 30px 0px;">
                                        <div class="feedback-infor">
                                            <span>
                                                Bạn Nguyễn Hoài An
                                            </span>
                                            <span>
                                                Sinh viên trường Đại học Ngoại Thương
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 h-100" style="position: relative;">
                                    <img class="imgs-feedback-user" src="/imgs/home/feedback/user1.png" alt="user feedback">
                                    <div class="feedback_vector">
                                        <svg viewBox="0 0 1200 640" fill="none">
                                            <path xmlns="http://www.w3.org/2000/svg"
                                                d="M225.717,-43.2404C225.717,-43.2404 170.625,-10.5833 141.486,104.026C112.347,218.636 147.454,305.252 75.6228,350.772C41.5156,372.375 -3.04641,346.328 7.28578,300.186C28.4441,205.765 299.65,172.008 432.586,381.727C504.314,494.875 491.059,604.235 462.898,729.953C429.08,880.726 441.044,989.365 524.417,1120.92C611.549,1258.36 728.141,1287.34 728.141,1287.34"
                                                pathLength="1" style="--color: #21BA9D" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feedback-pagination">
            
                </div>
            </div>
            
        </div>
    </div>
</div>

<hr class="hr-home">


<div class="home-partners">
    <div class="container-fluid">
        <div class="home-news_contain home-partners_contain">
            <div class="row">
                <div class="col-md-4 home-news_contain_title">
                    <h3>
                        Đối tác của
                        <br>
                        <span class="attention">
                            Itravel
                        </span>
                    </h3>
                </div>
                <div class="col-md-8">
                    <div class="row home-news_contain_title_list__imgs">
                        <div class="col-md-4">
                            <div class="imgs-partents">
                                <svg viewBox="0 0 243 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path style="--data-fill:#FFC62F"
                                        d="M239.918 33.2993C239.162 32.1319 238.235 31.0847 237.162 30.2006C233.815 27.2221 229.772 25.1363 225.403 24.1321C225.094 24.0634 224.879 23.763 224.922 23.4454C225.386 19.3253 224.862 15.1537 223.403 11.2739C222.742 11.5829 222.098 11.9349 221.489 12.3297H221.429C222.905 16.424 223.24 20.8446 222.399 25.1192C222.33 25.4797 222.553 25.823 222.914 25.9003H222.922C228.793 26.75 234.158 29.7114 238.004 34.2263C234.682 37.1018 230.733 39.1618 226.476 40.2348C226.175 40.312 225.969 40.5867 225.987 40.8957C226.235 45.9686 225.102 51.0157 222.699 55.4877C237.18 60.6378 248.115 45.9514 239.866 33.2649"
                                        fill="#BCBCBC" />
                                    <path style="--data-fill:#FFC62F"
                                        d="M222.871 7.75502C217.781 9.98674 213.515 13.7463 210.657 18.5102C210.503 18.7934 210.151 18.905 209.859 18.7763C206.091 17.0767 201.97 16.2785 197.842 16.4587C197.91 17.1883 198.031 17.9179 198.202 18.6304V18.6819C202.554 18.5445 206.863 19.5917 210.666 21.7118C210.983 21.8921 211.387 21.7719 211.567 21.4543C214.185 16.1154 218.648 11.9009 224.142 9.61764L224.451 10.3644C225.97 14.2013 226.614 18.3385 226.322 22.4586C226.296 22.7676 226.502 23.0509 226.803 23.1281C230.674 24.1839 234.279 26.0637 237.352 28.6388C238.133 29.3169 238.897 30.0121 239.626 30.7675C240.742 29.3169 241.575 27.6688 242.073 25.9092C246.493 14.0467 234.262 2.87957 222.854 7.75502"
                                        fill="#BCBCBC" />
                                    <path style="--data-fill:#FFC62F"
                                        d="M219.472 51.3163V51.2305C219.283 51.1103 219.094 50.9816 218.914 50.8528C215.575 48.4151 212.914 45.1619 211.189 41.4109C211.034 41.0933 210.657 40.956 210.331 41.0933C205.086 43.8658 199.009 44.6212 193.249 43.222C194.245 38.9474 196.228 34.9561 199.035 31.5742C199.249 31.3338 199.249 30.9562 199.035 30.7158C195.859 26.7588 193.824 22.0121 193.146 16.9822V16.9307C191.653 17.3598 190.228 18.0294 188.949 18.9135C175.001 28.0978 183.009 46.9816 198.957 46.1662C202.554 46.1662 206.107 45.4452 209.412 44.0289C209.713 43.9001 210.064 44.0117 210.228 44.295C212.253 47.8829 215.086 50.9472 218.511 53.2476C218.871 52.6296 219.197 51.9858 219.481 51.3249"
                                        fill="#BCBCBC" />
                                    <path style="--data-fill:#FFC62F"
                                        d="M234.596 32.5264C231.154 35.1958 227.059 36.8782 222.742 37.4104C222.381 37.4533 222.124 37.7881 222.167 38.1486C223.197 43.994 222.038 50.0196 218.905 55.0582L218.236 54.629C214.759 52.4144 211.824 49.4531 209.652 45.951C209.489 45.6849 209.163 45.5819 208.871 45.6935C204.133 47.4875 198.983 47.9682 193.996 47.0669C193.257 61.2812 209.729 68.6201 219.42 57.8135C223.643 53.247 225.171 46.0111 224.647 39.9254C224.63 39.5992 224.845 39.3074 225.162 39.2387C229.214 38.3975 233.016 36.6121 236.261 34.0371C235.763 33.4963 235.222 32.9899 234.656 32.5264"
                                        fill="#BCBCBC" />
                                    <path style="--data-fill:#FFC62F"
                                        d="M219.643 4.87925C209.798 -5.91884 192.596 2.60461 194.416 16.8018C195.103 21.9948 197.308 26.8703 200.742 30.8187C200.956 31.059 200.956 31.4367 200.742 31.6771C197.969 34.7414 195.944 38.4065 194.836 42.3807C195.54 42.5352 196.253 42.6468 196.974 42.7155H197.06C198.27 38.5267 200.596 34.7414 203.789 31.7629C204.047 31.5054 204.047 31.0848 203.789 30.8273C203.42 30.4754 203.068 30.1063 202.733 29.72C199.102 25.7115 196.905 20.6129 196.476 15.2224C200.853 14.8447 205.265 15.4971 209.351 17.128C209.643 17.2481 209.969 17.1451 210.141 16.879C212.922 12.6388 216.793 9.2311 221.36 7.02514C220.853 6.26978 220.278 5.55735 219.643 4.905"
                                        fill="#BCBCBC" />
                                    <path style="--data-fill:#006B68"
                                        d="M26.4189 68.9294C34.8995 68.9294 38.084 64.6891 38.084 59.1184C38.084 53.5477 34.6505 48.9555 26.4189 48.9555H11.6638V68.9294H26.4189ZM25.6207 41.6337C33.2171 41.6337 35.7922 37.3935 35.7922 32.4494C35.7922 27.5052 33.2171 23.8658 25.5434 23.8658H11.6638V41.6252L25.6207 41.6337ZM0.96875 74.8434V17.9689C0.96875 16.5956 2.07603 15.4883 3.44939 15.4883H28.4361C40.9852 15.4883 46.7276 22.3551 46.7276 30.3292C46.7276 37.6166 43.071 43.0243 36.1441 44.7238C36.1012 44.741 36.0754 44.7839 36.0926 44.8354C36.1012 44.8611 36.1183 44.8783 36.1441 44.8869C43.5774 46.3032 48.9078 52.8782 48.7533 60.4488C48.7533 69.7277 42.041 77.3241 29.5777 77.3241H3.44939C2.08461 77.3241 0.977334 76.2254 0.96875 74.852"
                                        fill="#BCBCBC" />
                                    <path style="--data-fill:#006B68"
                                        d="M52.7109 74.8437V15.48H60.9254C62.2902 15.48 63.3974 16.5873 63.406 17.952V77.2814H55.1916C53.8268 77.2814 52.7195 76.1742 52.7109 74.8094"
                                        fill="#BCBCBC" />
                                    <path style="--data-fill:#006B68"
                                        d="M93.5418 68.9297C105.027 68.9297 110.769 61.2045 110.769 46.312C110.769 31.205 104.761 23.8747 93.2757 23.8747H80.1172V68.9297H93.5418ZM69.4307 77.2814V17.9606C69.4307 16.5873 70.5379 15.48 71.9113 15.48H95.3873C111.696 15.48 121.893 27.1364 121.893 46.1318C121.893 65.1272 112.194 77.2814 95.8508 77.2814H69.4307Z"
                                        fill="#BCBCBC" />
                                    <path style="--data-fill:#006B68"
                                        d="M155.181 77.2814H145.816C141.73 77.2814 140.125 75.9768 138.786 72.2687L119.216 15.48H128.117C129.713 15.5229 131.121 16.5443 131.645 18.055L146.52 62.4233C147.052 64.2001 147.576 66.1314 148.022 68.1657C148.391 66.2173 148.889 64.3031 149.524 62.4233L163.498 20.982C164.374 17.7375 167.327 15.4971 170.683 15.5229H181.352C181.507 15.5229 181.635 15.6259 181.678 15.7718C181.901 16.6302 181.301 17.1109 180.605 17.5915C179.558 18.304 178.828 18.6387 177.867 19.3683C175.447 21.497 173.644 24.2352 172.648 27.2995C172.168 28.5098 171.738 29.7458 171.301 30.9733L155.181 77.2814Z"
                                        fill="#BCBCBC" />
                                </svg>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="imgs-partents">
                                <svg viewBox="0 0 285 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        style="--data-fill:#1BA0E2"
                                        d="M259.681 16.3049C270.899 9.21816 285 7.86523 285 7.86523C285 7.86523 270.055 24.7318 266.393 32.5143C265.796 34.6532 266.277 36.9468 267.692 38.6734C267.692 38.6734 261.083 31.4062 259.681 16.3049Z"
                                        fill="#BCBCBC" />
                                    <path
                                        style="--data-fill:#0D7FCC"
                                        d="M264.55 13.6377C262.875 14.4237 261.252 15.3256 259.694 16.3049C260.162 22.2191 261.72 27.9916 264.278 33.3389C265.264 35.0655 266.199 36.5086 266.875 37.5394C266.42 36.689 266.147 35.7484 266.082 34.782C265.148 31.1614 264.278 24.7704 264.55 13.6377Z"
                                        fill="#8D8D8D" />
                                    <path
                                        style="--data-fill:#1BA0E2"
                                        d="M249.632 22.8894C249.632 22.8894 248.892 20.3124 248.645 19.565C247.71 17.1684 247.243 14.6172 247.256 12.0531C247.256 7.29847 255.422 2.20888 260.408 0.624023C259.11 17.9544 261.019 23.2502 262.823 28.9711C267.095 43.1447 276.872 45.1934 277.833 46.1469C275.34 45.6186 276.768 46.7654 276.768 46.7654C273.055 44.5105 269.004 42.8354 264.784 41.7788C256.773 39.5368 250.502 39.2018 246.71 37.0372C243.763 34.8467 243.672 33.0557 242.27 31.8831C237.673 27.9403 226.104 26.291 226.104 26.291L236.05 27.9017C237.076 27.863 238.076 27.6697 239.037 27.3218C240.166 26.523 241.633 26.3297 242.932 26.8193C244.048 27.4507 245.23 27.9403 246.464 28.2882C250.008 29.2932 249.632 22.8894 249.632 22.8894Z"
                                        fill="#BCBCBC" />
                                    <path
                                        style="--data-fill:#434343"
                                        d="M3.9861 52.7956C3.9861 62.9233 11.7765 64.1216 15.6718 64.1216C16.3599 64.1216 17.0481 64.0829 17.7232 64.0056V58.8516C17.2688 58.9418 16.8014 58.9804 16.3339 58.9676C14.1007 58.9676 9.84191 58.1945 9.84191 52.1385V38.6479H17.2039V33.9706H9.84191V25.2216H4.16788V33.9706H0V38.6479H3.9861V52.7956ZM23.1246 63.8896H28.9804V51.4814C28.9415 49.6388 29.1882 47.7962 29.7075 46.031C31.0968 41.5341 34.5376 38.8927 38.277 38.8927C38.8483 38.8927 39.4066 38.9571 39.9649 39.0731V33.3134C39.4715 33.2361 38.9651 33.1975 38.4588 33.1975C33.7585 33.1975 30.1879 36.6764 28.8116 41.1089H28.6948C28.7727 40.3487 28.8116 39.5885 28.8116 38.8282V33.5583H23.1376L23.1246 63.8896ZM41.9125 55.3726C41.9125 61.4286 47.0412 64.5983 52.2998 64.5983C56.4676 64.6885 60.2979 62.3434 62.0768 58.6068H62.1936C62.1157 59.4057 62.0768 60.2045 62.0768 61.0034V63.8768H67.5041V44.7038C67.5041 36.9728 63.1544 32.8367 55.4419 32.8367C51.3519 32.798 47.3528 34.0608 44.0419 36.4316L46.4569 40.6837C48.9369 38.8927 51.8973 37.8619 54.9615 37.7459C58.8567 37.7459 61.6613 39.421 61.6613 44.3946V44.9357H60.3629C55.2342 44.9357 41.9645 45.361 41.9645 55.3597L41.9125 55.3726ZM47.8203 55.0763C47.8203 49.6259 55.7795 49.3167 60.1811 49.3167H61.6872V50.2702C61.6872 54.767 58.4932 59.9211 53.5462 59.9211C49.7419 59.9211 47.8203 57.5244 47.8203 55.0634V55.0763ZM82.2929 63.8896H89.0446L100.328 33.5583H94.1733L86.7595 54.0584C86.1622 55.7334 85.7337 58.1945 85.6688 58.1945H85.5519C85.5519 58.1945 85.1235 55.7334 84.5262 54.0584L77.1123 33.5583H70.8929L82.2929 63.8896ZM101.873 48.724C101.626 57.2539 108.404 64.3793 117.012 64.6112C117.35 64.6241 117.7 64.6241 118.038 64.6112C122.375 64.6241 126.569 63.0908 129.867 60.2947L127.451 56.0427C124.92 58.2202 121.713 59.4701 118.363 59.5732C112.857 59.8566 108.17 55.6432 107.884 50.18C107.872 49.9738 107.872 49.7676 107.872 49.5615H130.165C130.165 49.5615 130.347 47.822 130.347 46.9845C130.347 39.1375 125.764 32.8109 117.142 32.8109C108.521 32.8109 101.886 39.0473 101.886 48.6982L101.873 48.724ZM108.092 45.1935C108.586 40.6966 112.481 37.3465 117.025 37.4624C120.92 37.4624 124.205 40.0394 124.387 45.1935H108.092ZM135.748 55.6175C135.748 63.2325 140.63 64.1345 143.954 64.1345C144.603 64.1345 145.253 64.0958 145.889 64.0185V58.8645C145.551 58.8774 145.201 58.8774 144.863 58.8645C143.058 58.8645 141.604 58.2073 141.604 54.548V21.5623H135.748V55.6175ZM148.512 48.6595C148.771 57.6919 156.354 64.8045 165.443 64.5468C174.181 64.302 181.205 57.3312 181.452 48.6595C181.452 39.4854 174.09 32.8367 164.988 32.8367C155.887 32.8367 148.525 39.4854 148.525 48.6595H148.512ZM154.484 48.6595C154.757 42.9128 159.678 38.4675 165.469 38.738C171.26 39.0086 175.739 43.8921 175.467 49.6388C175.207 55.2051 170.585 59.5732 164.975 59.5732C159.172 59.5603 154.471 54.883 154.471 49.1234C154.471 48.9688 154.471 48.8141 154.484 48.6595ZM187.204 63.8896H193.06V49.613H197.462L206.628 63.8768H213.445L202.227 47.036V46.92L212.367 33.5583H205.732L197.41 44.7038H193.125V21.5107H187.269L187.204 63.8896ZM215.107 55.3726C215.107 61.4286 220.236 64.5983 225.494 64.5983C229.662 64.6885 233.492 62.3434 235.271 58.6068H235.388C235.31 59.4057 235.271 60.2045 235.271 61.0034V63.8768H240.698V44.7038C240.698 36.9728 236.349 32.8367 228.636 32.8367C224.546 32.798 220.547 34.0608 217.236 36.4316L219.651 40.6837C222.144 38.8927 225.118 37.8747 228.195 37.7717C232.09 37.7717 234.895 39.4467 234.895 44.4204V44.9615H233.596C228.467 44.9615 215.198 45.3867 215.198 55.3855L215.107 55.3726ZM221.015 55.0763C221.015 49.6259 228.974 49.3167 233.375 49.3167H234.882V50.2702C234.882 54.767 231.687 59.9211 226.741 59.9211C222.936 59.9211 221.015 57.5244 221.015 55.0634V55.0763Z"
                                        fill="#BCBCBC" />
                                </svg>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="imgs-partents">
                                <svg viewBox="0 0 271 59" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        style="--data-fill:black"
                                        d="M269.152 39.0989C268.313 39.0989 267.631 39.781 267.631 40.62C267.631 41.4591 268.313 42.1412 269.152 42.1412C269.991 42.1412 270.673 41.4591 270.673 40.62C270.673 39.781 269.991 39.0989 269.152 39.0989ZM269.152 41.9009C268.444 41.9009 267.871 41.3249 267.871 40.6211C267.871 39.913 268.447 39.3414 269.152 39.3414C269.86 39.3414 270.435 39.9174 270.435 40.6211C270.435 41.3249 269.859 41.9009 269.152 41.9009ZM269.647 40.3602C269.647 40.083 269.451 39.9195 269.161 39.9195H268.675V41.3065H268.913V40.8052H269.174L269.425 41.3065H269.683L269.407 40.7532C269.554 40.685 269.647 40.5497 269.647 40.3602ZM269.152 40.5886H268.917V40.1285H269.152C269.312 40.1285 269.41 40.2086 269.41 40.3569C269.409 40.5074 269.309 40.5886 269.152 40.5886ZM85.824 23.7008V20.0207H80.1821V41.9139H85.824V28.7862C85.824 26.4086 87.3484 25.2415 89.726 25.2415H92.8139V20.0207H90.1764C88.1107 20.0207 86.3155 21.098 85.824 23.7008ZM98.0985 11.3613C96.1681 11.3613 94.6891 12.8858 94.6891 14.8162C94.6891 16.7012 96.1691 18.2256 98.0985 18.2256C100.028 18.2256 101.508 16.7012 101.508 14.8162C101.508 12.8858 100.029 11.3613 98.0985 11.3613ZM95.2846 41.9139H100.914V20.0207H95.2846V41.9139ZM127.727 30.9667C127.727 37.2171 122.662 42.2831 116.411 42.2831C113.89 42.2831 111.602 41.4559 109.769 40.0603V48.3396H104.14V20.0207H109.769V21.8732C111.603 20.4776 113.89 19.6504 116.411 19.6504C122.662 19.6504 127.727 24.7174 127.727 30.9667ZM122.063 30.9667C122.063 27.5736 119.31 24.8192 115.915 24.8192C112.521 24.8192 109.768 27.5725 109.768 30.9667C109.768 34.3599 112.521 37.1143 115.915 37.1143C119.31 37.1143 122.063 34.3642 122.063 30.9667ZM225.566 29.0471L222.282 28.1463C220.121 27.5833 219.281 26.9207 219.281 25.7785C219.281 24.6655 220.465 23.887 222.157 23.887C223.769 23.887 225.032 24.9416 225.032 26.2928V26.4183H230.221V26.2928C230.221 22.3204 226.981 19.6504 222.157 19.6504C217.38 19.6504 213.909 22.3171 213.909 25.9939C213.909 28.8533 215.804 31.009 219.11 31.9033L222.256 32.7618C224.646 33.4245 225.534 34.1574 225.534 35.474C225.534 36.8609 224.251 37.7931 222.34 37.7931C220.349 37.7931 219.007 36.5318 219.007 34.6598V34.5342H213.501V34.6598C213.501 39.1508 217.116 42.2896 222.295 42.2896C227.284 42.2896 230.906 39.2244 230.906 35.0041C230.906 32.9329 229.979 30.224 225.566 29.0471ZM147.697 20.0207H153.326V41.9139H147.697V40.0614C145.863 41.457 143.576 42.2841 141.054 42.2841C134.804 42.2841 129.738 37.2182 129.738 30.9678C129.738 24.7174 134.804 19.6515 141.054 19.6515C143.576 19.6515 145.864 20.4787 147.697 21.8743V20.0207ZM147.697 30.9667C147.697 27.5703 144.943 24.8192 141.549 24.8192C138.155 24.8192 135.402 27.5725 135.402 30.9667C135.402 34.3599 138.155 37.1143 141.549 37.1143C144.947 37.1143 147.697 34.3642 147.697 30.9667ZM173.652 12.2296H179.281V41.916H173.652V40.0635C171.818 41.4591 169.531 42.2863 167.01 42.2863C160.759 42.2863 155.693 37.2204 155.693 30.97C155.693 24.7196 160.759 19.6537 167.01 19.6537C169.531 19.6537 171.819 20.4809 173.652 21.8764V12.2296ZM173.652 30.9667C173.652 27.5736 170.899 24.8192 167.505 24.8192C164.111 24.8192 161.357 27.5725 161.357 30.9667C161.357 34.3599 164.107 37.1143 167.505 37.1143C170.899 37.1143 173.652 34.3642 173.652 30.9667ZM205.416 41.9139H211.045V20.0207H205.416V41.9139ZM208.231 11.3613C206.301 11.3613 204.822 12.8858 204.822 14.8162C204.822 16.7012 206.302 18.2256 208.231 18.2256C210.162 18.2256 211.641 16.7012 211.641 14.8162C211.641 12.8858 210.162 11.3613 208.231 11.3613ZM255.236 30.9667C255.236 37.2171 250.17 42.2831 243.92 42.2831C237.67 42.2831 232.604 37.2171 232.604 30.9667C232.604 24.7164 237.67 19.6504 243.92 19.6504C250.17 19.6504 255.236 24.7174 255.236 30.9667ZM250.068 30.9667C250.068 27.5736 247.314 24.8192 243.92 24.8192C240.527 24.8192 237.774 27.5725 237.774 30.9667C237.774 34.3599 240.524 37.1143 243.92 37.1143C247.314 37.1143 250.068 34.3642 250.068 30.9667ZM82.9419 12.2296H61.3486V17.2512H69.3422V41.9139H74.9516V17.2512H82.9451V12.2296H82.9419ZM192.145 35.9179L187.136 20.0207H181.223L188.734 41.9139H195.508L203.065 20.0207H197.152L192.145 35.9179ZM263.484 23.7008V20.0207H257.842V41.9139H263.484V28.7862C263.484 26.4086 265.009 25.2415 267.386 25.2415H270.474V20.0207H267.837C265.771 20.0207 263.979 21.098 263.484 23.7008Z"
                                        fill="#BCBCBC" />
                                    <path
                                        style="--data-fill:#34E0A1"
                                        d="M28.7888 58.2017C44.6884 58.2017 57.5776 45.3125 57.5776 29.4128C57.5776 13.5132 44.6884 0.624023 28.7888 0.624023C12.8892 0.624023 0 13.5132 0 29.4128C0 45.3125 12.8892 58.2017 28.7888 58.2017Z"
                                        fill="#DEDEDE" />
                                    <path
                                        style="--data-fill:black"
                                        d="M46.5702 23.7967L50.0445 20.017H42.3401C38.4835 17.3828 33.8258 15.8486 28.788 15.8486C23.7567 15.8486 19.112 17.3861 15.2619 20.017H7.53906L11.0134 23.7967C8.88377 25.739 7.54881 28.5378 7.54881 31.6451C7.54881 37.509 12.3029 42.2631 18.1668 42.2631C20.9526 42.2631 23.4904 41.1891 25.3851 39.433L28.788 43.139L32.1909 39.4362C34.0856 41.1923 36.6202 42.2631 39.406 42.2631C45.2699 42.2631 50.0305 37.509 50.0305 31.6451C50.0348 28.5346 48.6998 25.7369 46.5702 23.7967ZM18.17 38.831C14.2009 38.831 10.9842 35.6143 10.9842 31.6451C10.9842 27.676 14.2009 24.4593 18.17 24.4593C22.1392 24.4593 25.3559 27.676 25.3559 31.6451C25.3559 35.6143 22.1392 38.831 18.17 38.831ZM28.7913 31.4362C28.7913 26.7081 25.3526 22.648 20.814 20.9146C23.2684 19.8882 25.9611 19.3187 28.788 19.3187C31.6149 19.3187 34.3108 19.8882 36.7653 20.9146C32.2299 22.6512 28.7913 26.7081 28.7913 31.4362ZM39.4103 38.831C35.4412 38.831 32.2245 35.6143 32.2245 31.6451C32.2245 27.676 35.4412 24.4593 39.4103 24.4593C43.3795 24.4593 46.5962 27.676 46.5962 31.6451C46.5962 35.6143 43.3795 38.831 39.4103 38.831ZM39.4103 27.8752C37.3294 27.8752 35.6436 29.5609 35.6436 31.6419C35.6436 33.7228 37.3294 35.4086 39.4103 35.4086C41.4913 35.4086 43.177 33.7228 43.177 31.6419C43.1759 29.5642 41.4913 27.8752 39.4103 27.8752ZM21.9367 31.6451C21.9367 33.7261 20.251 35.4118 18.17 35.4118C16.0891 35.4118 14.4033 33.7261 14.4033 31.6451C14.4033 29.5642 16.0891 27.8784 18.17 27.8784C20.251 27.8752 21.9367 29.5642 21.9367 31.6451Z"
                                        fill="#BCBCBC" />
                                </svg>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="imgs-partents">
                                <svg viewBox="0 0 247 87" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        style="--data-fill:url(#paint0_radial_87_292)"
                                        d="M217.543 59.5366C233.811 59.5366 246.999 46.3485 246.999 30.0803C246.999 13.812 233.811 0.624023 217.543 0.624023C201.275 0.624023 188.087 13.812 188.087 30.0803C188.087 46.3485 201.275 59.5366 217.543 59.5366Z"
                                        fill="url(#paint0_radial_281_516)" />
                                    <path
                                        style="--data-fill:white"
                                        d="M202.898 46.4057C202.682 46.2614 202.466 46.1605 202.235 46.0812C201.968 44.1919 201.838 42.5623 201.716 41.4806C201.6 40.4567 201.449 38.7261 201.363 36.5124C201.687 36.4908 202.004 36.397 202.271 36.2095C202.56 36.0076 202.754 35.7336 202.877 35.4091C207.16 36.9667 212.157 38.3007 217.81 39.1443C217.825 39.3174 217.846 39.4832 217.904 39.6563C217.911 39.6779 217.926 39.6924 217.933 39.714C212.143 43.1824 207.29 45.4538 203.504 46.932C203.338 46.7373 203.136 46.5643 202.898 46.4057ZM205.357 8.31802C205.797 8.28918 206.28 8.14495 206.756 7.907C207.218 7.67625 207.607 7.37339 207.888 7.0489C211.58 7.97189 215.099 9.37801 217.529 10.5678C222.209 12.8608 229.456 17.1441 237.777 23.9439C237.958 24.0881 238.116 24.2251 238.282 24.3693C238.152 24.6794 238.073 25.0255 238.073 25.4005C238.073 25.6817 238.123 25.9485 238.195 26.1937C234.294 29.3088 229.218 32.7555 222.389 36.9811C221.719 36.4331 220.709 36.2528 219.721 36.5917C218.979 36.8441 218.402 37.3489 218.084 37.9329C215.568 37.5435 212.965 37.0676 210.253 36.498C207.622 35.9499 205.22 35.2577 203.028 34.5006C203.014 33.9453 202.834 33.3612 202.466 32.8276C202.141 32.3661 201.73 32.0272 201.29 31.8109C201.348 27.2753 201.745 21.7302 202.934 16.0552C203.605 12.9185 204.463 10.3659 205.357 8.31802ZM238.671 27.0734C239.025 27.4844 239.508 27.7368 240.034 27.7368C240.568 27.7368 241.051 27.4772 241.404 27.0662C243.784 29.2367 245.594 31.1692 246.87 32.7916C246.892 32.5609 246.913 32.3229 246.921 32.0993C245.543 30.2317 243.813 28.2992 241.815 26.3667C241.923 26.0711 241.988 25.7538 241.988 25.4077C241.988 24.9967 241.895 24.6217 241.736 24.2828C241.902 24.1242 242.068 23.9655 242.219 23.8141C243.084 22.9704 244.411 21.4706 245.327 20.3096C245.262 20.1222 245.19 19.9275 245.118 19.74C244 21.0163 242.731 22.2926 241.267 23.6122C240.928 23.2805 240.503 23.0714 240.034 23.0714C239.566 23.0714 239.133 23.2805 238.794 23.6122C233.638 19.1703 227.206 14.8006 220.262 11.1158C215.589 8.6353 211.551 7.22918 208.285 6.4432C208.4 6.1764 208.436 5.91681 208.379 5.67885C216.512 2.35465 224.041 2.28255 228.1 2.59261C227.906 2.52051 227.711 2.44119 227.516 2.36908C220.125 1.63357 213.542 2.99642 208.033 5.15967C207.809 4.99382 207.513 4.90008 207.16 4.88565C208.155 3.28485 209.064 2.26812 209.648 1.71289C209.345 1.79942 209.035 1.88595 208.739 1.97969L208.725 2.00132C208.04 2.79451 207.283 3.75356 206.504 4.93614C206.158 5.00103 205.797 5.11641 205.437 5.30389C205.17 5.4409 204.932 5.59953 204.723 5.76538C203.367 5.58511 202.228 5.51301 201.334 5.5058C201.06 5.68607 200.793 5.87355 200.519 6.06824C201.701 6.05382 202.934 6.14754 204.175 6.3206C203.994 6.56577 203.865 6.80374 203.814 7.0489C198.493 9.75297 194.498 12.9906 192.19 15.1106C191.967 15.4928 191.743 15.8822 191.534 16.2788C193.777 14.2165 197.245 11.3033 203.915 7.79162C204.059 8.02958 204.312 8.19544 204.629 8.27476C203.136 11.3898 201.766 15.5433 200.937 21.2615C200.331 25.4293 200.101 28.7102 200.086 31.5802C199.783 31.609 199.495 31.71 199.243 31.883C198.932 32.0993 198.723 32.4166 198.601 32.77C193.596 30.5707 190.135 28.1767 188.289 26.7705C188.26 27.0662 188.232 27.3546 188.21 27.6503C190.539 29.4818 193.986 31.6307 198.485 33.6281C198.507 34.1689 198.687 34.7313 199.041 35.2433C199.38 35.7192 199.812 36.0653 200.266 36.2744C200.468 38.9929 200.815 41.5744 201.125 44.5885C201.168 45.0356 201.226 45.4755 201.29 45.9009C200.814 45.9153 200.411 46.0956 200.187 46.4417C199.892 46.8888 199.978 47.5017 200.346 48.0714C198.146 48.7997 196.466 49.2179 195.385 49.4486C195.536 49.6217 195.68 49.7875 195.832 49.9534C197.26 49.7371 198.976 49.2756 200.843 48.6338C200.966 48.742 201.096 48.8429 201.233 48.9366C201.478 49.0953 201.73 49.2107 201.975 49.2972C202.769 52.4411 203.865 55.0226 204.651 56.5441C205.033 56.7316 205.429 56.9118 205.826 57.0849C204.341 54.727 203.439 52.0013 202.862 49.4342C203.331 49.4126 203.728 49.2395 203.951 48.9006C204.211 48.5112 204.175 47.9992 203.922 47.5017C208.501 45.6774 213.715 43.1103 218.517 40.5C219.181 41.0769 220.219 41.2787 221.236 40.9326C221.928 40.6947 222.469 40.2476 222.8 39.7212C223.435 39.7789 224.069 39.8294 224.718 39.8726C235.787 40.6081 242.472 39.166 245.832 38.3295C245.897 38.1132 245.962 37.8969 246.019 37.6661C238.794 39.2092 231.439 39.4688 223.146 38.5819C223.154 38.3656 223.132 38.1493 223.067 37.9329C223.269 37.8176 223.478 37.7022 223.673 37.5796C230.574 33.5704 235.362 29.9289 238.671 27.0734Z"
                                        fill="#BCBCBC" />
                                    <path
                                        style="--data-fill:#0580C3"
                                        d="M4.41303 84.0677V72.3068H0V70.8214H10.5927V72.3068H6.17969V84.0677H4.41303ZM10.4773 84.0677L15.6475 70.8214H17.5944L22.7718 84.0677H20.8321L19.3899 80.0801H13.7943L12.3017 84.0677H10.4773ZM16.5633 72.415L14.3279 78.5947H18.8203L16.5993 72.415H16.5633ZM13.8881 69.8768L15.7989 67.2232H17.5223L19.4476 69.8768H17.9117L16.621 68.1029L15.323 69.8768H13.8881ZM15.6908 86.8872V85.1998H17.3781V86.8872H15.6908ZM24.0698 84.0677V70.8214H29.8745C31.158 70.8214 32.1603 71.1603 32.8742 71.8237C33.5809 72.4943 33.9414 73.4606 33.9414 74.7369C33.9414 76.0132 33.5881 76.9795 32.8742 77.6501C32.1603 78.3207 31.1652 78.6524 29.8745 78.6524H25.8292V84.0677H24.0698ZM25.8364 72.3068V77.1669H29.2904C31.2157 77.1669 32.182 76.3593 32.182 74.7369C32.182 73.1145 31.2157 72.3068 29.2904 72.3068H25.8364ZM41.2676 84.0677V77.7799H39.9697V76.5252H41.2676V70.8214H45.8104C50.0504 70.8214 52.1704 72.927 52.1704 77.1309C52.1704 81.753 50.0504 84.0677 45.8104 84.0677H41.2676ZM43.0271 72.3068V76.5252H46.993V77.7799H43.0271V82.5823H45.9547C47.4834 82.5823 48.6299 82.0775 49.3798 81.0824C50.0648 80.1883 50.4037 78.9552 50.4037 77.3688C50.4037 73.9942 48.9327 72.3068 45.9907 72.3068H43.0271ZM53.5621 77.4482C53.5621 75.4436 54.1173 73.8067 55.2134 72.5304C56.3599 71.182 57.9246 70.5114 59.9076 70.5114C61.8834 70.5114 63.4409 71.182 64.5947 72.5304C65.6979 73.7995 66.2459 75.4364 66.2459 77.4482C66.2459 79.4528 65.6979 81.0897 64.5947 82.366C63.4409 83.7072 61.8834 84.385 59.9076 84.385C57.9246 84.385 56.3671 83.7072 55.2134 82.366C54.1173 81.0897 53.5621 79.4528 53.5621 77.4482ZM55.3215 77.4482C55.3215 78.9769 55.6965 80.246 56.432 81.2266C57.2612 82.3443 58.415 82.8996 59.9004 82.8996C61.3858 82.8996 62.5396 82.3443 63.3688 81.2266C64.1115 80.2388 64.4793 78.9769 64.4793 77.4482C64.4793 75.9123 64.1115 74.6504 63.3688 73.6625C62.5396 72.552 61.3858 71.9896 59.9004 71.9896C58.415 71.9896 57.2612 72.552 56.432 73.6625C55.6965 74.6504 55.3215 75.9123 55.3215 77.4482ZM65.9503 84.0677L71.1205 70.8214H73.0674L78.2376 84.0677H76.2906L74.8485 80.0801H69.2529L67.753 84.0677H65.9503ZM72.0362 72.415L69.8009 78.5947H74.2932L72.0723 72.415H72.0362ZM71.6252 69.8768L69.1952 67.2232H71.2142L72.8078 69.8768H71.6252ZM79.5283 84.0677V70.8214H81.3454L88.3688 81.5944L88.4121 81.5656V70.8214H90.0778V84.0677H88.1525L81.194 73.439V84.0677H79.5283ZM98.089 84.0677V70.8214H102.899C104.701 70.8214 105.869 70.9873 106.403 71.3046C107.441 71.9247 107.961 72.8477 107.961 74.0663C107.961 75.5157 107.304 76.5036 105.992 77.03V77.066C106.8 77.2319 107.42 77.5924 107.852 78.162C108.292 78.7317 108.516 79.4239 108.516 80.2532C108.516 81.4069 108.134 82.3299 107.369 83.0222C106.612 83.7144 105.646 84.0605 104.485 84.0605H98.089V84.0677ZM99.8557 72.3068V76.5252H103.382C105.257 76.5252 106.201 75.8113 106.201 74.4052C106.201 73.5615 105.92 72.9847 105.365 72.6602C104.947 72.4294 104.283 72.3068 103.382 72.3068H99.8557ZM99.8557 78.0034V82.5823H104.269C105.011 82.5823 105.61 82.3732 106.064 81.9477C106.526 81.5295 106.749 80.9454 106.749 80.2027C106.749 78.7317 105.79 77.9962 103.872 77.9962H99.8557V78.0034ZM109.215 84.0677L114.393 70.8214H116.34L121.517 84.0677H119.57L118.128 80.0801H112.532L111.032 84.0677H109.215ZM115.308 72.415L113.073 78.5947H117.565L115.345 72.415H115.308ZM115.95 69.9705H114.861C114.861 69.5451 114.912 69.2206 115.013 69.0043C115.107 68.7952 115.337 68.5572 115.691 68.312C116.044 68.0524 116.217 67.7784 116.217 67.4684C116.217 66.9131 115.95 66.6391 115.424 66.6391C114.833 66.6391 114.53 66.9564 114.53 67.6054H113.347C113.347 66.9348 113.571 66.4228 114.011 66.0623C114.371 65.781 114.818 65.644 115.345 65.644C115.813 65.644 116.239 65.7378 116.606 65.9181C117.183 66.2209 117.472 66.7185 117.472 67.4251C117.472 67.9659 117.14 68.4779 116.469 68.961C116.123 69.199 115.95 69.5379 115.95 69.9705ZM122.065 77.4482C122.065 75.4436 122.62 73.8067 123.724 72.5304C124.87 71.182 126.442 70.5114 128.418 70.5114C130.394 70.5114 131.958 71.182 133.105 72.5304C134.208 73.7995 134.756 75.4364 134.756 77.4482C134.756 79.4528 134.208 81.0897 133.105 82.366C131.951 83.7072 130.394 84.385 128.418 84.385C126.442 84.385 124.877 83.7072 123.724 82.366C122.62 81.0897 122.065 79.4528 122.065 77.4482ZM123.832 77.4482C123.832 78.9769 124.199 80.246 124.942 81.2266C125.771 82.3443 126.925 82.8996 128.411 82.8996C129.896 82.8996 131.05 82.3443 131.879 81.2266C132.622 80.2388 132.989 78.9769 132.989 77.4482C132.989 75.9123 132.622 74.6504 131.879 73.6625C131.05 72.552 129.896 71.9896 128.411 71.9896C126.925 71.9896 125.764 72.552 124.942 73.6625C124.207 74.6504 123.832 75.9123 123.832 77.4482ZM151.117 70.8214L146.402 84.0677H144.397L139.724 70.8214H141.635L145.414 82.3083L145.457 82.3011L149.286 70.8214H151.117ZM152.596 84.0677V70.8214H154.355V84.0677H152.596ZM156.216 84.0677V70.8214H165.359V72.3068H157.975V76.5252H164.854V78.0034H157.975V82.5823H165.417V84.0677H156.216ZM157.362 69.8768L159.273 67.2232H160.996L162.922 69.8768H161.393L160.102 68.1029L158.804 69.8768H157.362ZM159.158 86.8872V85.1998H160.845V86.8872H159.158ZM170.551 84.0677V72.3068H166.138V70.8214H176.723V72.3068H172.31V84.0677H170.551Z"
                                        fill="#BCBCBC" />
                                    <path
                                        style="--data-fill:#0580C3"
                                        d="M0 15.2549H16.1306C23.8895 15.2549 25.5408 19.6246 25.5408 22.6388C25.5408 25.6096 24.0986 27.2177 21.9137 28.4146C24.5529 29.3232 27.0262 31.4216 27.0262 35.7553C27.0262 41.6537 21.9137 44.7111 16.7147 44.7111H0V15.2549ZM9.07844 26.7201H13.8592C15.7557 26.7201 16.9527 26.1793 16.9527 24.2828C16.9527 22.7974 15.7124 22.2638 13.8592 22.2638H9.07844V26.7201ZM9.07844 37.7022H14.4C16.2965 37.7022 17.9478 37.1614 17.9478 34.8972C17.9478 33.1594 16.9166 32.2148 14.7678 32.2148H9.07844V37.7022ZM37.0853 15.2549H45.9547L56.6772 44.7111H47.267L46.034 40.5H36.6743L35.3547 44.7111H26.233L37.0853 15.2549ZM44.2168 34.1905L41.5777 25.1193H41.4984L38.6573 34.1905H44.2168ZM101.637 44.7111H91.4911L82.7011 15.2549H91.8588L96.6901 33.1089H96.7694L98.4567 26.7706L110.629 15.9327L101.637 44.7111ZM112.482 15.2549H121.56V44.7111H112.482V15.2549ZM69.5629 14.7573C61.0902 14.7573 54.2327 21.6148 54.2327 30.0876C54.2327 38.5531 61.0902 45.4106 69.5629 45.4106C78.0285 45.4106 84.8932 38.5459 84.8932 30.0876C84.886 21.6148 78.0212 14.7573 69.5629 14.7573ZM69.5629 37.183C65.6402 37.183 62.4603 34.0103 62.4675 30.0876C62.4675 26.1649 65.6402 22.9849 69.5629 22.9849C73.4784 22.9849 76.6584 26.1649 76.6584 30.0876C76.6584 34.0031 73.4784 37.183 69.5629 37.183ZM123.745 15.2549H148.125V22.8046H132.816V26.4749H146.719V33.4839H132.816V37.1542H148.572V44.7039H123.745V15.2549ZM158.985 22.8046H150.735V15.2549H176.305V22.8046H168.056V44.7111H158.977V22.8046H158.985Z"
                                        fill="#BCBCBC" />
                                    <path
                                        style="--data-fill:#BB8E2D" 
                                        d="M101.507 15.2544H110.838L99.3291 23.4603L101.507 15.2544Z" fill="#BCBCBC" />
                                    <defs>
                                        <radialGradient id="paint0_radial_281_516" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                                            gradientTransform="translate(213.977 19.9075) scale(29.0581)">
                                            <stop stop-color="#BCBCBC" />
                                            <stop offset="0.1893" stop-color="#BCBCBC" />
                                            <stop offset="0.5732" stop-color="#A9A9A9" />
                                            <stop offset="0.854" stop-color="#A9A9A9" />
                                            <stop offset="1" stop-color="#A9A9A9" />
                                        </radialGradient>
                                        <radialGradient id="paint0_radial_87_292" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                                            gradientTransform="translate(213.977 19.9075) scale(29.0581)">
                                            <stop stop-color="#F0E3C5" />
                                            <stop offset="0.1893" stop-color="#E4D0A3" />
                                            <stop offset="0.5732" stop-color="#CDAC64" />
                                            <stop offset="0.854" stop-color="#BE963D" />
                                            <stop offset="1" stop-color="#B98D2E" />
                                        </radialGradient>
                                    </defs>
                                </svg>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="imgs-partents">
                                <svg viewBox="0 0 204 93" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        style="--data-fill:#EE3338"
                                         d="M203.528 0.624023H0V92.624H203.528V0.624023Z" fill="#BCBCBC" />
                                    <path
                                        style="--data-fill:white"
                                         fill-rule="evenodd" clip-rule="evenodd"
                                        d="M61.1869 22.6538C57.4889 22.6538 54.3408 25.3815 52.26 30.1683C50.5098 34.2293 49.4173 39.7673 49.4102 45.8083V68.8443H55.0775V51.871H67.3034V68.8443H72.9744V45.8083C72.9636 39.7673 71.8711 34.2329 70.1209 30.1827C68.0402 25.3779 64.892 22.6538 61.1869 22.6538ZM67.3034 46.1929C67.3034 41.6755 66.7105 36.5976 64.91 32.418C63.742 29.7443 62.4123 28.3032 61.1869 28.3032C59.9614 28.3032 58.6353 29.7479 57.4709 32.418C55.9903 35.8249 55.0775 40.8993 55.0775 46.1965H67.3034V46.1929Z"
                                        fill="white" />
                                    <path
                                        style="--data-fill:white"
                                         fill-rule="evenodd" clip-rule="evenodd"
                                        d="M169.585 22.6538C165.887 22.6538 162.746 25.3815 160.666 30.1827C158.912 34.2293 157.816 39.7673 157.809 45.8083V68.8443H163.483V51.871H175.695V68.8443H181.369V45.8083C181.362 39.7673 180.277 34.2329 178.512 30.1827C176.439 25.3779 173.294 22.6538 169.585 22.6538ZM175.695 46.1929C175.695 41.6755 175.12 36.5976 173.301 32.418C172.14 29.7443 170.814 28.3032 169.585 28.3032C168.371 28.3032 167.037 29.7479 165.877 32.418C164.4 35.8249 163.483 40.8993 163.483 46.1965H175.695V46.1929Z"
                                        fill="white" />
                                    <path
                                        style="--data-fill:white"
                                         fill-rule="evenodd" clip-rule="evenodd"
                                        d="M34.1047 22.6538C37.6841 22.6538 40.7352 25.4318 42.8088 29.9527L37.7955 32.5762C36.6527 29.9347 35.3266 28.296 34.1083 28.296H34.1047C32.8864 28.296 31.5567 29.9563 30.4031 32.6085C28.9369 35.9902 28.0133 40.7196 28.0133 45.988V45.9916C28.0133 51.2529 28.9369 55.9822 30.4031 59.364C31.5567 62.0269 32.8864 63.6765 34.1047 63.6765H34.1083C35.3266 63.6765 36.6491 62.0449 37.7955 59.3927L42.8088 62.0233C40.7352 66.5407 37.6877 69.3222 34.1083 69.3222H34.1047C30.4139 69.3222 27.2873 66.361 25.2173 61.5921C23.46 57.5527 22.3711 52.0219 22.3711 45.9916V45.988C22.3711 39.9469 23.46 34.4305 25.2173 30.3804C27.2873 25.6115 30.4139 22.6538 34.1047 22.6538Z"
                                        fill="white" />
                                    <path
                                        style="--data-fill:white"
                                         fill-rule="evenodd" clip-rule="evenodd"
                                        d="M133.3 23.5952H151.204V29.2482H138.96V43.386H151.204V49.0462H138.96V68.8405H133.3V23.5952Z" fill="white" />
                                    <path
                                        style="--data-fill:white"
                                         d="M122.924 23.5952H117.271V68.8405H122.924V23.5952Z" fill="white" />
                                    <path
                                        style="--data-fill:white"
                                         fill-rule="evenodd" clip-rule="evenodd"
                                        d="M95.1623 22.6392C98.8567 22.6392 101.98 25.5285 104.06 30.3118C105.807 34.3476 106.9 39.8676 106.91 45.8907V68.8404H101.247V45.9626C101.247 40.6762 100.33 35.9432 98.8639 32.5399C97.7139 29.8698 96.3806 28.2921 95.1588 28.2921C93.9405 28.2921 92.6144 29.8698 91.4572 32.5399C89.9873 35.9432 88.9883 40.687 88.9883 45.9626V68.8404H83.3281V23.5951H88.9883V26.0496C90.7277 23.7029 92.8875 22.6392 95.1623 22.6392Z"
                                        fill="white" />
                                </svg>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="imgs-partents">
                                <svg viewBox="0 0 200 109" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        style="--data-fill:url(#paint0_linear_281_732)"
                                        d="M84.573 60.1722C84.573 60.1722 99.0789 61.6429 95.0585 54.2992C94.0462 51.081 82.1187 39.2203 66.7725 36.6706C66.7725 36.6706 85.9195 33.9298 99.9956 48.1493C99.9956 48.1493 90.15 27.8181 99.098 15.7378C104.856 8.75701 112.487 2.44471 134.365 0C134.365 0 104.981 3.11318 113.795 32.8221C115.581 39.9557 128.033 57.6607 120.546 66.1026C116.058 71.2212 102.173 69.9702 84.573 60.1722Z"
                                        fill="url(#paint0_linear_281_506)" />
                                    <path
                                        style="--data-fill:#2A398C"
                                        d="M0.698242 78.699H6.85776C6.85776 78.699 8.76768 78.9759 9.70355 81.7358C10.2861 83.3019 17.0186 102.048 17.0186 102.048L25.3936 78.6895H28.4208L17.773 108.809H13.6666L3.84007 81.2965C3.84007 81.2965 3.18115 79.3388 0.698242 79.0428V78.699Z"
                                        fill="#BCBCBC" />
                                    <path
                                        style="--data-fill:#2A398C"
                                        d="M32.1934 79.0425H37.4839V106.622V106.861C37.4839 106.861 37.6748 107.73 38.9068 108.828H34.3802C34.3802 108.828 32.3748 108.274 32.1934 106.163C32.1934 105.648 32.1934 79.0425 32.1934 79.0425Z"
                                        fill="#BCBCBC" />
                                    <path
                                        style="--data-fill:#2A398C"
                                        d="M42.4785 79.0425H49.975L65.5122 100.902H65.942V79.0425H68.9215V106.966L70.3443 108.828H64.9584L47.3202 84.0369H47.0814V108.828H44.102V81.6209L42.4785 79.0425Z"
                                        fill="#BCBCBC" />
                                    <path
                                        style="--data-fill:#2A398C"
                                        d="M93.6176 85.6126C93.102 79.5009 85.023 79.0425 85.023 79.0425H72.2646C73.9549 80.389 74.2128 82.3562 74.2128 82.3562V106.068C74.1746 108.283 76.1991 108.837 76.1991 108.837H81.079C79.3218 107.443 79.1881 106.03 79.1881 106.03V94.9044H85.6819C94.6108 93.5675 93.8946 88.1528 93.6176 85.6126ZM88.4513 87.0833C88.4322 89.5089 87.4104 92.2783 84.259 92.2783C81.566 92.2878 79.1977 92.2783 79.1977 92.2783V81.6877H84.8415C84.8511 81.6877 88.6423 82.3276 88.4513 87.0833Z"
                                        fill="#BCBCBC" />
                                    <path
                                        style="--data-fill:#2A398C"
                                        d="M96.4434 79.0425H114.015C114.015 79.0425 116.851 79.3576 116.612 83.4544C116.612 83.4544 115.734 82.4135 113.891 82.3467H103.644V92.2783H115.285V95.2387H103.634V105.533H115.428C115.428 105.533 116.775 105.629 117.558 104.32C117.558 104.32 117.863 108.723 115.59 108.828H98.3819V82.8719C98.3819 82.8719 98.2196 80.6659 96.4434 79.0425Z"
                                        fill="#BCBCBC" />
                                    <path
                                        style="--data-fill:#2A398C"
                                        d="M146.607 106.565L138.118 80.3797L138.462 79.7017V78.7085H131.299L126.439 93.5868C122.943 93.8351 119.84 91.5814 119.84 91.5814C120.776 96.2512 125.675 96.3658 125.675 96.3658L121.74 108.818H125.054L128.864 96.5759H135.921C138.719 96.4422 140.104 103.251 140.496 104.98C141.412 108.284 143.571 108.809 143.571 108.809H148.021C146.98 107.644 146.607 106.565 146.607 106.565ZM136.074 93.6059H129.59L133.372 82.6238L137.096 93.9402C136.733 93.6537 136.074 93.6059 136.074 93.6059Z"
                                        fill="#BCBCBC" />
                                    <path
                                        style="--data-fill:#2A398C"
                                        d="M171.064 100.109C169.135 95.7448 166.261 94.4078 166.261 94.4078V93.9972C170.711 92.8417 171.522 89.7285 171.522 86.7777C171.198 79.8351 163.921 79.0425 163.921 79.0425H150.017C151.946 80.8092 151.831 82.9196 151.831 82.9196V108.837H156.978V95.6111H158.936C163.1 95.5729 165.115 100.166 166.671 102.993C169.737 109.162 172.239 108.847 172.239 108.847H177.157C174.282 106.507 171.742 101.389 171.064 100.109ZM161.992 92.6125H156.969V81.6973H161.486C165.783 81.8978 166.337 85.2975 166.261 86.9209C166.557 92.1255 161.992 92.6125 161.992 92.6125Z"
                                        fill="#BCBCBC" />
                                    <path
                                        style="--data-fill:#2A398C"
                                        d="M179.183 79.062H183.919C183.919 79.062 186.144 79.5299 186.125 82.2038V105.849H200.001L199.667 108.828H181.007V82.5094C180.988 82.5094 181.026 80.6186 179.183 79.062Z"
                                        fill="#BCBCBC" />
                                    <defs>
                                        <linearGradient id="paint0_linear_281_506" x1="81.1113" y1="-3.45716" x2="139.734" y2="65.8896"
                                            gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#F2F2F2" />
                                            <stop offset="0.4148" stop-color="#CFCFCF" />
                                            <stop offset="1" stop-color="#A9A9A9" />
                                        </linearGradient>
                                        <linearGradient id="paint0_linear_281_732" x1="80.4131" y1="-3.45716" x2="139.036" y2="65.8896"
                                            gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#DC8C2B" />
                                            <stop offset="0.4148" stop-color="#E9A920" />
                                            <stop offset="1" stop-color="#FFD90D" />
                                        </linearGradient>
                                    </defs>
                                </svg>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
<div class="home-contact" id="home-contact">
    <div class="home-contact_form">
        <h5 class="home-contact_form_title">Liên hệ tới <span class="attention">Itravel</span></h5>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fullnamecontact">Họ và tên</label>
                    <input type="text" id="fullnamecontact" class="form-control" placeholder="Họ và tên của bạn">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="phonecontact">Số điện thoại liên hệ</label>
                    <input type="text" id="phonecontact" class="form-control" placeholder="Số điện thoại của bạn">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="emailcontact">Địa chỉ e-mail</label>
                    <input type="text" id="emailcontact" class="form-control" placeholder="Địa chỉ email của bạn">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="locationcontact">Địa điểm mà bạn đang muốn tới</label>
                    <div class="d-flex">
                        <select class="form-control" id="locationcontact">
                            <option value="1">Côn Đảo</option>
                            <option value="2">Côn Đảo</option>
                            <option value="3">Côn Đảo</option>
                            <option value="4">Côn Đảo</option>
                            <option value="5">Côn Đảo</option>
                        </select>
                        <button class="contact-btn">Gửi</button>
                    </div>
                </div>                                                   
            </div>
        </div>
        
    </div>
    <div class="home-contact_vector">
        <svg viewBox="0 0 1000 670" fill="none">
            <path xmlns="http://www.w3.org/2000/svg"
                d="M660.845,-150C520.419,113.344 144.62,88.4341 184.828,313.629C209.932,454.233 384.262,486.037 447.937,460.101C518.386,434.641 527.132,387.875 510.439,354.576C488.009,309.83 395.819,293.651 314.014,363.697C92.7922,553.117 201.706,816.483 -3.51819,902.831C-212.954,990.945 -437.709,828.189 -478.989,732.348C-508.182,664.581 -486.832,599.278 -441.133,591.119C-395.435,582.96 -336.248,610.728 -313.126,703.914C-287.682,806.475 -364.019,1118.77 -1322.35,1225"
                pathLength="1" style="--color: #FA871B" />
        </svg>
    </div>
    <div class="home-contact_vector">
        <svg viewBox="0 0 1450 940" fill="none">
            <path xmlns="http://www.w3.org/2000/svg"
                d="M2.76944 1583C866.785 1155.02 809.328 826.357 772.536 747.815C731.808 660.87 644.047 650.27 613.642 685.675C586.866 716.855 576.888 785.269 637.089 833.986C691.672 878.156 993.807 969.986 1131.54 828.682C1300.04 655.818 1102.27 467.131 1245.25 213.408C1298.13 119.584 1390.28 103.215 1426.68 137.574C1450.45 160.022 1457.73 209.513 1404.09 258.122C1353.15 304.295 1178.47 334.113 1106.73 210.606C991.84 12.7956 1353.45 -92.4907 1395.2 -388"
                pathLength="1" style="--color: #00635B" />
        </svg>
    </div>
</div>
<script src="/js/plugin/home.js"></script>