<form method="POST" action="/uploadimgs" enctype="multipart/form-data">
    <div class="filesbds"></div>

    <button type="submit">Gửi ảnh</button>

</form>

{{#each products}}
{{this.Title}}<br>
{{/each}}

<script>
    $(function () {
        $('.filesbds').imageUploader({
            imagesInputName: 'filesbds',
        });
    })
</script>