<link rel="stylesheet" href="/css/plugin/home.css">
<div class="banner">
    <div class="swiper h-100 w-100 swiperBanner" style="cursor: pointer;z-index: 0;">
        <div class="swiper-wrapper">
            <div class="swiper-slide w-100 h-100 text-light banner_slide">
                <img src="/imgs/home/banner/banner_home.jpg" alt="banner">
            </div>
            <div class="swiper-slide bg-i-primary w-100 h-100 text-light banner_slide">
                <img src="/imgs/home/banner/banner_home-2.jpg" alt="banner">
            </div>
            <div class="swiper-slide bg-i-primary w-100 h-100 text-light banner_slide">
                <img src="/imgs/home/banner/banner_home.jpg" alt="banner">
            </div>
        </div>
    </div>
    <div class="banner-pagination swiper-pagination"></div>
    <h2 class="intro-title">
        Đồng hành cùng bạn trên mọi nẻo đường
    </h2>
    <div class="form-search-itravel">
        <div class="form-search-itravel__option">
            <span class="nav-link text-light" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Một chiều
                <i class="fas fa-chevron-down"></i>
            </span>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <span class="dropdown-item">Một chiều</span>
                <span class="dropdown-item">Khứ hồi</span>
            </div>
        </div>
        <div class="form-search-itravel__content px-5 py-4">
            <div class="form-group d-flex form-search-itravel__content_togo">
                <div class="d-flex w-50 align-items-center mx-3">
                    <h4 style="flex: 1;" class="mb-0 mr-2">Điểm đi</h4>
                    <input style="flex: 4;" type="text" placeholder="Gõ tên thành phố/ mã sân bay Nội địa hoặc Quốc tế">
                </div>
                <div class="d-flex w-50 align-items-center mx-3">
                    <h4 style="flex: 1;" class="mb-0 mr-2">Điểm đến</h4>
                    <input style="flex: 4;" type="text" placeholder="Gõ tên thành phố/ mã sân bay Nội địa hoặc Quốc tế">
                </div>
            </div>
            <div class="form-group mt-5 d-flex align-items-end">
                <div class="mx-3">
                    <h4>Khởi hành</h4>
                    <input type="date">
                </div>
                <div class="mx-3">
                    <h4>Quay về</h4>
                    <input type="date">
                </div>
                <div class="mx-3">
                    <h4>Người lớn</h4>
                    <select>
                        <option value="1">01 người</option>
                        <option value="2">02 người</option>
                        <option value="3">03 người</option>
                        <option value="4">04 người</option>
                        <option value="5">05 người</option>
                        <option value="6">06 người</option>
                    </select>
                </div>
                <div class="mx-3">
                    <h4>Trẻ em <span class="attention">(2-11 tuổi)</span></h4>
                    <select>
                        <option value="0">0 người</option>
                        <option value="1">01 người</option>
                        <option value="2">02 người</option>
                        <option value="3">03 người</option>
                        <option value="4">04 người</option>
                        <option value="5">05 người</option>
                        <option value="6">06 người</option>
                    </select>
                </div>
                <div class="mx-3">
                    <h4>Em bé <span class="attention">(<2 tuổi)</span></h4>
                    <select>
                        <option value="0">0 người</option>
                        <option value="1">01 người</option>
                        <option value="2">02 người</option>
                        <option value="3">03 người</option>
                        <option value="4">04 người</option>
                        <option value="5">05 người</option>
                        <option value="6">06 người</option>
                    </select>
                </div>
                <div class="mx-3 text-right">
                    <button style="background-color: #21BA9D;" class="btn btn-search-home">Tìm kiếm</button>
                </div>
            </div>            
        </div>
    </div>
</div>
<div class="main-home" id="main-home">
    <div class="main-home-contents">
        <div class="main-home-contents_title">
            <div class="row">
                <div class="col-md-12 pt-md-5">
                   <h3 class="main-home-contents_title_text mt-md-5">Quá trình hình thành và phát triển</h3>
                   <h4 class="main-home-contents_text mt-md-4">
                        Thành lập vào năm 2010, Itravel ra đời với sứ mệnh trở thành một trong những công ty tư vấn và đặt vé máy bay, khách sạn
                        hàng đầu Việt Nam
                   </h4>
                </div>
            </div>
            <div class="main-home-contents_list">
                <div class="main-home-contents_items" style="--data-width: 187px;--data-height: 122px;--data-top:250px;--data-left:370px;--data-delay:0.3s;">
                    <span style="--data-img:url('/imgs/home/img-animate/main-home-1.png')"></span>
                </div>   
                <div class="main-home-contents_items" style="--data-width: 255px;--data-height: 295px;--data-top:320px;--data-left:-116px;--data-delay:0.5s;">
                    <span style="--data-img:url('/imgs/home/img-animate/main-home-2.jpg')"></span>
                </div>   
                <div class="main-home-contents_items" style="--data-width: 328px;--data-height: 214px;--data-top:350px;--data-right:-190px;--data-delay:0.7s;">
                    <span style="--data-img:url('/imgs/home/img-animate/main-home-3.jpg')"></span>
                </div> 
                <div class="main-home-contents_items" style="--data-width: 187px;--data-height: 122px;--data-bottom:200px;;--data-delay:0.9s;">
                    <span style="--data-img:url('/imgs/home/img-animate/main-home-4.jpg')"></span>
                </div> 
                <div class="main-home-contents_items" style="--data-width: 248px;--data-height: 162px;--data-bottom:0;--data-left:370px;--data-delay:1.1s;">
                    <span style="--data-img:url('/imgs/home/img-animate/main-home-5.jpg')"></span>
                </div>  
                <div class="main-home-contents_items" style="--data-width: 400px;--data-height: 260px;--data-bottom:0;--data-right:60px;--data-delay:1.3s;">
                    <span style="--data-img:url('/imgs/home/img-animate/main-home-6.jpg')"></span>
                </div>                
            </div>
        </div>
    </div>
</div>
<div class="home-more" id="home-more">
    <div class="h-100" style="padding: 0px 170px;">
        <div class="row h-100">
            <div class="col-md-7 text-light d-flex align-items-center">
                <div class="home-more_slide">
                    <!-- Swiper -->
                    <div class="h-100" style="position: relative;">
                        <div class="swiper h-100 mySwiper" style="cursor: pointer;">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide home-more_slide_list">
                                    <img src="/imgs/home/home-more/slide-1.jpg" alt="banner">
                                </div>
                                <div class="swiper-slide bg-white w-100 h-100 text-dark">Slide 2</div>
                                <div class="swiper-slide bg-white w-100 h-100 text-dark">Slide 3</div>
                            </div>
                        </div>
                        <div class="itravel-sildeHome-button-next">
                            <i class="fas fa-arrow-right"></i>
                        </div>
                        <div class="itravel-sildeHome-button-prev">
                            <i class="fas fa-arrow-left"></i>
                        </div>
                    </div>                    
                </div>               
            </div>
            <div class="col-md-5 text-light d-flex justify-content-center align-items-center" style="z-index: 1;">
                <div class="home-more-contents">
                    <h3>Đà Lạt - thành phố với vẻ đẹp mộng mơ</h3>
                    <h4>
                        Đà Lạt cao hơn 1500 mét so với mặt biển, điều này làm cho thời tiết ở đây quanh năm mát mẻ. Ở Đà Lạt, nhiều loại đồi,
                        suối, thác nước kết hợp hài hòa tạo thành khung cảnh thiên nhiên hữu tình.
                    </h4>
                    <button class="btn">
                        KHÁM PHÁ THÊM
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="home-more_vector">
       <svg viewBox="0 0 1000 640" fill="none">
        <path xmlns="http://www.w3.org/2000/svg" d="M578.535 -63.0416C500.496 -9.66888 372.637 -104.134 313.127 -32.5834C280.029 7.21478 292.102 61.3526 349.869 117.261C440.619 205.081 491.867 313.842 400.102 376.595C292.173 450.411 146.441 272.449 -85.4935 506.756" pathLength="1" style="--color: #FFC60B"/>
      </svg>
    </div>
    <div class="home-more_vector">
        <svg viewBox="0 0 1000 640" fill="none">
            <path xmlns="http://www.w3.org/2000/svg" d="M -94.726 1184.58 C -94.726 1184.58 -103.5234 1040.79 22.417 891.733 C 142.987 749.09 263.029 696.371 447.779 680.885 C 601.816 667.931 731.761 643.802 835.449 521.095 C 1027.64 293.671 891.367 -4.4493 775.675 5.2707 C 719.141 10.0296 705.369 70.3654 742.375 101.621 C 820.337 167.439 906.84 96.1566 1048.51 88.3128 C 1190.19 80.4689 1247.4 131.758 1247.4 131.758" pathLength="1" style="--color: #004C3F"/>
        </svg>
    </div>
</div>
<div class="home-news">
    <div class="container-fluid">
        <div class="home-news_contain">
            <div class="home-news-title">
                <h3>Tin tức</h3>
                <a href="#">Xem thêm tin tức ></a>
            </div>
            <div class="home-news_list">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card border-0 w-100">
                            <div class="card-img-top text-center">
                                <img src="/imgs/news/news-1.jpg" alt="Hinh anh tin tuc">
                            </div>
                            <div class="card-body w-75">
                                <h5 class="card-title">04/10/2022  |  16:23</h5>
                                <a href="#" class="card-text">
                                    Bảng giá tham quan toàn quốc 2022
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card border-0 w-100">
                            <div class="card-img-top text-center">
                                <img src="/imgs/news/news-2.jpg" alt="Hinh anh tin tuc">
                            </div>
                            <div class="card-body w-75">
                                <h5 class="card-title">13/07/2022  |  17:09</h5>
                                <a href="#" class="card-text">
                                    6 bãi biển đẹp nhất Phú Quốc
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card border-0 w-100">
                            <div class="card-img-top text-center">
                                <img src="/imgs/news/news-3.jpg" alt="Hinh anh tin tuc">
                            </div>
                            <div class="card-body w-75">
                                <h5 class="card-title">25/06/2022  |  13:56</h5>
                                <a href="#" class="card-text">
                                    Trải nghiệm đẳng cấp cùng du thuyền trên biển
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

<div class="intro-bonus-home">
    <div class="container-fluid">
        <div class="home-news_contain">
            <div class="row">
                <div class="col-md-6">
                    <span class="intro-bonus-home_title">
                        Bạn đã có ý tưởng gì cho chuyến hành trình sắp tới chưa?
                    </span>
                    <a href="#" class="intro-bonus-home_linkto">
                        Khám phá kho ảnh của itravel
                        <svg width="21" height="14" viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M14.1444 0.278417L20.6984 6.32784C21.1005 6.69906 21.1005 7.30094 20.6984 7.67216L14.1444 13.7216C13.7423 14.0928 13.0902 14.0928 12.688 13.7216C12.2858 13.3504 12.2858 12.7485 12.688 12.3773L17.4839 7.95058H0.950575C0.425587 7.95058 0 7.52499 0 7C0 6.47501 0.425586 6.04943 0.950574 6.04943H17.4839L12.688 1.62273C12.2858 1.25151 12.2858 0.64964 12.688 0.278417C13.0902 -0.0928057 13.7423 -0.0928057 14.1444 0.278417Z"
                                fill="#21BA9D" />
                        </svg>   
                    </a>
                </div>
                <div class="col-md-6">
                    <span class="intro-bonus-home_text">
                        Việc lên ý tưởng và kế hoạch cho một chuyến hành trình du lịch có thể là một điều khá khó khăn, nếu
                        bạn đang cảm thấy bí
                        bách cho ý tưởng đi du lịch của mình, thì hãy để Itravel gợi ý cho các bạn một vài ý tưởng cho
                        chuyến hành trình sắp tới
                        bằng một album ảnh sau nhé.
                    </span>
                </div>
            </div> 
        </div>
    </div>
</div>
<div class="home_effect" id="home_effect">
    <div class="container-fluid" style="position: relative;">
        <div class="home-news_contain">
            <div class="home-bonus_effect">
                <div class="home-bonus_effect_slide align-items-end">
                    <span class="home-bonus_effect_child"
                        style="--data-bg:url('/imgs/home/img-animate/home-bonus-1.png');--data-width: 241px;--data-height: 299px;--data-margin: 60px 0px 100px 0px;--data-delay:0.3s;"></span>
                    <span class="home-bonus_effect_child" style="--data-bg:url('/imgs/home/img-animate/home-bonus-2.png');--data-width: 189px;--data-height: 170px;--data-margin: -75px 0px 220px auto;--data-delay:0.3s;"></span>
                </div>
                <div class="home-bonus_effect_slide">
                    <span class="home-bonus_effect_child" style="--data-bg:url('/imgs/home/img-animate/home-bonus-3.png');--data-width: 450px;--data-height: 700px;--data-margin: auto 0px 100px 0px;--data-delay:0.1s;"></span>
                </div>
                <div class="home-bonus_effect_slide align-items-start">
                    <span class="home-bonus_effect_child"
                        style="--data-bg:url('/imgs/home/img-animate/home-bonus-4.png');--data-width: 145px;--data-height: 146px;--data-margin: 90px 0px 100px 0px;--data-delay:0.3s;"></span>
                    <span class="home-bonus_effect_child" style="--data-bg:url('/imgs/home/img-animate/home-bonus-5.png');--data-width: 246px;--data-height: 305px;--data-delay:0.3s;--data-margin: -75px 0px 160px 0px;"></span>
                </div>
            </div>
        </div>
        <div class="bonus-effect_vector">
            <svg viewBox="0 0 1920 733" fill="none">
                <path xmlns="http://www.w3.org/2000/svg"
                    d="M-122.152,267.887C-122.152,267.887 -93.4494,361.808 66.7367,446.847C226.923,531.885 368.668,511.059 410.472,634.588C430.305,693.238 375.367,750.15 310.368,717.998C177.369,652.181 225.28,235.961 585.837,114.142C780.367,48.4091 938.484,107.88 1115.57,195.498C1327.94,300.642 1494.11,322.288 1720.29,245.9C1956.58,166.044 2041.97,2.91221 2041.97,2.91221"
                    pathLength="1" style="--color: #FFC60B" />
            </svg>
        </div>
    </div>
</div>



<div class="home-feedback" id="home-feedback">
    <div class="container-fluid h-100">
        <div class="home-news_contain h-100">
            <div class="home-feedback_contain m-auto">
                <div class="swiper h-100 w-100 swiperFeedback" style="cursor: pointer;z-index: 0;">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide home-feedback_slide bg-i-feedback w-100 h-100 text-light">
                            <div class="row h-100">
                                <div class="col-md-6">
                                    <div class="home-feedback_slide_contain">
                                        <div class="feedback-detail">
                                            <h4>
                                                Feedback từ khách hàng
                                            </h4>
                                            <h6>
                                                Tôi tìm đến Itravel để đặt lịch và nhận lời tư vấn cho chuyến du lịch với trường vừa qua, tôi
                                                thấy đội ngũ
                                                của
                                                họ có
                                                nghiệp vụ tốt và hướng dẫn chúng tôi rất tận tình trong suốt chuyến hành trình.
                                            </h6>
                                        </div>
                                        <hr style="background: rgba(0, 171, 165, 0.3);margin: 30px 0px;">
                                        <div class="feedback-infor">
                                            <span>
                                                Bạn Nguyễn Hoài An
                                            </span>
                                            <span>
                                                Sinh viên trường Đại học Ngoại Thương
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 h-100" style="position: relative;">
                                    <img class="imgs-feedback-user" src="/imgs/home/feedback/user1.png" alt="user feedback">
                                    <div class="feedback_vector">
                                        <svg viewBox="0 0 1200 640" fill="none">
                                            <path xmlns="http://www.w3.org/2000/svg"
                                                d="M225.717,-43.2404C225.717,-43.2404 170.625,-10.5833 141.486,104.026C112.347,218.636 147.454,305.252 75.6228,350.772C41.5156,372.375 -3.04641,346.328 7.28578,300.186C28.4441,205.765 299.65,172.008 432.586,381.727C504.314,494.875 491.059,604.235 462.898,729.953C429.08,880.726 441.044,989.365 524.417,1120.92C611.549,1258.36 728.141,1287.34 728.141,1287.34"
                                                pathLength="1" style="--color: #21BA9D" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide home-feedback_slide bg-i-feedback w-100 h-100 text-light">
                            <div class="row h-100">
                                <div class="col-md-6">
                                    <div class="home-feedback_slide_contain">
                                        <div class="feedback-detail">
                                            <h4>
                                                Feedback từ khách hàng
                                            </h4>
                                            <h6>
                                                Tôi tìm đến Itravel để đặt lịch và nhận lời tư vấn cho chuyến du lịch với trường vừa qua, tôi
                                                thấy đội ngũ
                                                của
                                                họ có
                                                nghiệp vụ tốt và hướng dẫn chúng tôi rất tận tình trong suốt chuyến hành trình.
                                            </h6>
                                        </div>
                                        <hr style="background: rgba(0, 171, 165, 0.3);margin: 30px 0px;">
                                        <div class="feedback-infor">
                                            <span>
                                                Bạn Nguyễn Hoài An
                                            </span>
                                            <span>
                                                Sinh viên trường Đại học Ngoại Thương
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 h-100" style="position: relative;">
                                    <img class="imgs-feedback-user" src="/imgs/home/feedback/user1.png" alt="user feedback">
                                    <div class="feedback_vector">
                                        <svg viewBox="0 0 1200 640" fill="none">
                                            <path xmlns="http://www.w3.org/2000/svg"
                                                d="M225.717,-43.2404C225.717,-43.2404 170.625,-10.5833 141.486,104.026C112.347,218.636 147.454,305.252 75.6228,350.772C41.5156,372.375 -3.04641,346.328 7.28578,300.186C28.4441,205.765 299.65,172.008 432.586,381.727C504.314,494.875 491.059,604.235 462.898,729.953C429.08,880.726 441.044,989.365 524.417,1120.92C611.549,1258.36 728.141,1287.34 728.141,1287.34"
                                                pathLength="1" style="--color: #21BA9D" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide home-feedback_slide bg-i-feedback w-100 h-100 text-light">
                            <div class="row h-100">
                                <div class="col-md-6">
                                    <div class="home-feedback_slide_contain">
                                        <div class="feedback-detail">
                                            <h4>
                                                Feedback từ khách hàng
                                            </h4>
                                            <h6>
                                                Tôi tìm đến Itravel để đặt lịch và nhận lời tư vấn cho chuyến du lịch với trường vừa qua, tôi
                                                thấy đội ngũ
                                                của
                                                họ có
                                                nghiệp vụ tốt và hướng dẫn chúng tôi rất tận tình trong suốt chuyến hành trình.
                                            </h6>
                                        </div>
                                        <hr style="background: rgba(0, 171, 165, 0.3);margin: 30px 0px;">
                                        <div class="feedback-infor">
                                            <span>
                                                Bạn Nguyễn Hoài An
                                            </span>
                                            <span>
                                                Sinh viên trường Đại học Ngoại Thương
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 h-100" style="position: relative;">
                                    <img class="imgs-feedback-user" src="/imgs/home/feedback/user1.png" alt="user feedback">
                                    <div class="feedback_vector">
                                        <svg viewBox="0 0 1200 640" fill="none">
                                            <path xmlns="http://www.w3.org/2000/svg"
                                                d="M225.717,-43.2404C225.717,-43.2404 170.625,-10.5833 141.486,104.026C112.347,218.636 147.454,305.252 75.6228,350.772C41.5156,372.375 -3.04641,346.328 7.28578,300.186C28.4441,205.765 299.65,172.008 432.586,381.727C504.314,494.875 491.059,604.235 462.898,729.953C429.08,880.726 441.044,989.365 524.417,1120.92C611.549,1258.36 728.141,1287.34 728.141,1287.34"
                                                pathLength="1" style="--color: #21BA9D" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feedback-pagination">
            
                </div>
            </div>
            
        </div>
    </div>
</div>

<hr class="hr-home">


<div class="home-partners">
    <div class="container-fluid">
        <div class="home-news_contain home-partners_contain">
            <div class="row">
                <div class="col-md-4 home-news_contain_title">
                    <h3>
                        Đối tác của
                        <br>
                        <span class="attention">
                            Itravel
                        </span>
                    </h3>
                </div>
                <div class="col-md-8">
                    <div class="row home-news_contain_title_list__imgs">
                        <div class="col-md-4">
                            <div class="imgs-partents" style="--bg-imgs: url('/imgs/home/partents/BIDV.png'); --bg-primary-partents: url('/imgs/home/partents/BIDV_primary.png')" >
                                <img style="visibility: hidden;" src="/imgs/home/partents/BIDV_primary.png" alt="hình ảnh đối tác itravel">
                            </div>
                           
                        </div>
                        <div class="col-md-4">
                            <div class="imgs-partents" style="--bg-imgs: url('/imgs/home/partents/traveloka.png'); --bg-primary-partents: url('/imgs/home/partents/traveloka_primary.png')">
                                <img style="visibility: hidden;" src="/imgs/home/partents/traveloka_primary.png" alt="hình ảnh đối tác itravel">
                            </div>                           
                        </div>
                        <div class="col-md-4">
                             <div class="imgs-partents" style="--bg-imgs: url('/imgs/home/partents/Tripadvisor.png'); --bg-primary-partents: url('/imgs/home/partents/Tripadvisor_primary.png')">
                                <img style="visibility: hidden;" src="/imgs/home/partents/Tripadvisor_primary.png" alt="hình ảnh đối tác itravel">
                            </div>
                            
                        </div>
                        <div class="col-md-4">
                             <div class="imgs-partents" style="--bg-imgs: url('/imgs/home/partents/Baoviet.png'); --bg-primary-partents: url('/imgs/home/partents/Baoviet_primary.png')">
                                <img style="visibility: hidden;" src="/imgs/home/partents/Baoviet_primary.png" alt="hình ảnh đối tác itravel">
                            </div>
                            
                        </div>
                        <div class="col-md-4">
                             <div class="imgs-partents" style="--bg-imgs: url('/imgs/home/partents/canifa.png'); --bg-primary-partents: url('/imgs/home/partents/canifa_primary.png')">
                                <img style="visibility: hidden;" src="/imgs/home/partents/canifa_primary.png" alt="hình ảnh đối tác itravel">
                            </div>
                            
                        </div>
                        <div class="col-md-4">
                             <div class="imgs-partents" style="--bg-imgs: url('/imgs/home/partents/vinpearl.png'); --bg-primary-partents: url('/imgs/home/partents/vinpearl_primary.png')">
                                <img style="visibility: hidden;" src="/imgs/home/partents/vinpearl_primary.png" alt="hình ảnh đối tác itravel">
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
<div class="home-contact">
    <div class="home-contact_form">
        <h5 class="home-contact_form_title">Liên hệ tới <span class="attention">Itravel</span></h5>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fullnamecontact">Họ và tên</label>
                    <input type="text" id="fullnamecontact" class="form-control" placeholder="Họ và tên của bạn">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="phonecontact">Số điện thoại liên hệ</label>
                    <input type="text" id="phonecontact" class="form-control" placeholder="Số điện thoại của bạn">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="emailcontact">Địa chỉ e-mail</label>
                    <input type="text" id="emailcontact" class="form-control" placeholder="Địa chỉ email của bạn">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="locationcontact">Địa điểm mà bạn đang muốn tới</label>
                    <div class="d-flex">
                        <select class="form-control" id="locationcontact">
                            <option value="1">Côn Đảo</option>
                            <option value="2">Côn Đảo</option>
                            <option value="3">Côn Đảo</option>
                            <option value="4">Côn Đảo</option>
                            <option value="5">Côn Đảo</option>
                        </select>
                        <button class="contact-btn">Gửi</button>
                    </div>
                </div>                                                   
            </div>
        </div>
        
    </div>
</div>
<script src="/js/plugin/home.js"></script>