<link rel="stylesheet" href="/css/plugin/home.css">
<div class="banner bg-i-primary">
    <div class="container-fluid">
        <h2 class="intro-title px-md-5 mx-md-5 text-light mb-0">
            Đồng hành cùng bạn trên mọi nẻo đường
        </h2>
    </div>
    <div class="form-search-itravel">
        <div class="form-search-itravel__option">
            <span class="nav-link text-light" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Một chiều
                <i class="fas fa-chevron-down"></i>
            </span>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <span class="dropdown-item">Một chiều</span>
                <span class="dropdown-item">Khứ hồi</span>
            </div>
        </div>
        <div class="form-search-itravel__content p-4">
            <div class="form-group d-flex">
                <div class="d-flex w-50 align-items-center mx-3">
                    <h4 style="flex: 1;" class="mb-0 mr-2">Điểm đi</h4>
                    <input style="flex: 4;" type="text" placeholder="Gõ tên thành phố/ mã sân bay Nội địa hoặc Quốc tế">
                </div>
                <div class="d-flex w-50 align-items-center mx-3">
                    <h4 style="flex: 1;" class="mb-0 mr-2">Điểm đến</h4>
                    <input style="flex: 4;" type="text" placeholder="Gõ tên thành phố/ mã sân bay Nội địa hoặc Quốc tế">
                </div>
            </div>
            <div class="form-group mt-5 d-flex align-items-end">
                <div class="mx-3">
                    <h4>Khởi hành</h4>
                    <input type="text" class="form-control">
                </div>
                <div class="mx-3">
                    <h4>Quay về</h4>
                    <input type="text" class="form-control">
                </div>
                <div class="mx-3">
                    <h4>Người lớn</h4>
                    <select class="form-control">
                        <option value="1">01 người</option>
                        <option value="2">02 người</option>
                        <option value="3">03 người</option>
                        <option value="4">04 người</option>
                        <option value="5">05 người</option>
                        <option value="6">06 người</option>
                    </select>
                </div>
                <div class="mx-3">
                    <h4>Trẻ em (2-11 tuổi)</h4>
                    <select class="form-control">
                        <option value="0">0 người</option>
                        <option value="1">01 người</option>
                        <option value="2">02 người</option>
                        <option value="3">03 người</option>
                        <option value="4">04 người</option>
                        <option value="5">05 người</option>
                        <option value="6">06 người</option>
                    </select>
                </div>
                <div class="mx-3">
                    <h4>Em bé (<2 tuổi)</h4>
                    <select class="form-control">
                        <option value="0">0 người</option>
                        <option value="1">01 người</option>
                        <option value="2">02 người</option>
                        <option value="3">03 người</option>
                        <option value="4">04 người</option>
                        <option value="5">05 người</option>
                        <option value="6">06 người</option>
                    </select>
                </div>
                <div class="mx-3">
                    <button style="background-color: #21BA9D;" class="btn text-light">Tìm kiếm</button>
                </div>
            </div>            
        </div>
    </div>
</div>
<div class="main-home">
    <div class="main-home-contents">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pt-md-5">
                   <h3 class="main-home-contents_title mt-md-5">Quá trình hình thành và phát triển</h3>
                   <h4 class="main-home-contents_text mt-md-4">
                        Thành lập vào năm 2010 Itravel ra đời với tâm huyết, 
                        tinh thần ý chí quyết tâm cùng niềm đam mê trong ngành 
                        vé hàng không của đội ngũ nhân viên trong công ty.
                   </h4>
                </div>
                <div class="col-md-6">
                    <div class="main-home-contents_img text-center">
                        <img src="imgs/ckeditor_Images/1660189844864-20220420094100-e2d1_wm.jpg" alt="ảnh đại diện">
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>