:root{
    --text-color: #00635B;
    --primary-color-banner: #7E7E7E;
    --text-secondarycolor: #999999;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'SF Pro Display', sans-serif !important;
    font-style: normal;
}
.bg-i-primary{
    background-color: var(--primary-color-banner);
}
.nav-item-itravel{
    padding: 0px 10px;
}
.nav-item-itravel:hover a{
    color: #fff !important;
}
.nav-item-itravel.active{
    background-color: #21BA9D;
    border-radius: 8px;
}
.intro-home{
    background-color: #002930;
}