:root{
    --text-color: #00635B;
    --primary-color-banner: #7E7E7E;
    --text-secondarycolor: #999999;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'SF Pro Display', sans-serif !important;
    font-style: normal;
}
.bg-i-primary{
    background-color: var(--primary-color-banner);
}
.nav-item-itravel{
    padding: 10px 14px;
}
.nav-item-itravel a{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #F7F7F7 !important;

}
.img-logo{
    width: 151px;
}
.nav-item-itravel:hover a{
    color: #fff !important;
}
.nav-item-itravel.active{
    background-color: #21BA9D;
    border-radius: 8px;
}
.intro-home{
    background-color: #002930;
}
.nav-itravel{
    background-color: #002930;
}
.dropdown-item{
    cursor: pointer;
}
.contact-intro .phone-txt{
    font-weight: 400;
    font-size: 16px;
    color: #ECECEC;
}
.contact-intro{
    padding: 10px;
}
.footer-itravel{
    margin-top: 156px;
}
.footer-logo{
    width: 250px;
    height: 52.61px;
}
.footer-nav-list{
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    width: 70%;
}
.footer-infor-list{
    padding: 0px;
    margin: 0px auto;
    width: 68%;
}
.footer-nav-list_items{
    margin: 24px auto;
}
.footer-nav-list_items.active{
    display: none;
}
.footer-nav-list_items:first-child{
    margin-top: 0px;
}
.footer-nav-list_items:last-child{
    margin-bottom: 0px;
}
.footer-nav-list_items a {
    font-weight: 600;
    font-size: 23px;
    line-height: 32px;
    color: #002930;
}
.footer-nav-list_items a:hover{
    text-decoration: none;
}
.footer-infor-list_items{
    margin: 33px auto;
}
.footer-infor-list_items:first-child{
    margin-top: 0px;
}
.footer-infor-list_items:last-child{
    margin-bottom: 0px;
}
.footer-infor-list_items span{
    display: block;
}
.footer-infor-list_items_title{
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: #6D6D6D;
}
.footer-infor-list_items_text{
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;

    color: #2E2E2E;
}
.footer-social-media-contain{
    width: 80%;
    margin-left: auto;
}
.footer-social-media{
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;

    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 20px;

    color: #6D6D6D;
}
.footer-social-media_list_icon{
    display: flex;
    justify-content: space-between;
}
.footer-social-media_list_icon svg{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.footer-social-media_list_icon svg:hover path:first-child{
    transition: .5s;
    fill: #21BA9D;
}
.copy-right-itravel{
   border-top: 1px solid #D2D2D2;
   padding: 25px 0px;
   text-align: center;
   margin-top: 115px;
}
.copy-right-itravel span{
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;    
    color: #AFAFAF;
}
.logo-bars{
    color: #fff;
    font-size: 26px;
    display: block;
    margin-right: 47px;
}