<div class="fabs">
    <div class="chat">
        <div class="chat_header">
            <div class="chat_option">
                <span id="chat_head">Chăm sóc khách hàng</span> <br> 
                <span class="online">(Online)</span>
                <span id="chat_fullscreen_loader" class="chat_fullscreen_loader"><i
                        class="fullscreen zmdi zmdi-window-maximize"></i></span>

            </div>

        </div>
        <div id="chat_converse" class="chat_conversion chat_converse">

        </div>
        <div id="userchat-area">
            <div class="fab_field">
                <a id="fab_camera" class="fab"><i class="zmdi zmdi-camera"></i></a>
                <textarea id="chatSend" name="chat_message" placeholder="Aa"
                    class="chat_field chat_message p-2"></textarea>
                <a id="fab_send" class="fab"><i class="zmdi zmdi-mail-send"></i></a>
            </div>
        </div>        
    </div>
    <a id="prime" class="fab"><i class="prime zmdi zmdi-comment-outline"></i></a>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/plugin/chatbox_socket.js"></script>
<script src="/js/plugin/chatbox.js"></script>