<div class="footer-itravel">
    <div class="home-news_contain footer-itravel-contain">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer-logo">
                        <img class="img-fluid" src="/imgs/main_imgs/logo-footer.svg" alt="logo">
                    </div>
                </div>
                <div class="col-md-3">
                    <ul class="footer-nav-list">
                        {{#each cates}}
                            <li class="footer-nav-list_items {{activeClass ../this.type}}">
                                <a href="/navigation/{{this.slug}}">{{this.NameCate}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="footer-infor-list">
                        <li class="footer-infor-list_items">
                            <span class="footer-infor-list_items_title">Address</span>
                            <span class="footer-infor-list_items_text">21 Nguyen Cong Hoan Str, Ngoc Khanh Ward
                                Ba Dinh District, Ha Noi City</span>
                        </li>
                        <li class="footer-infor-list_items">
                            <span class="footer-infor-list_items_title">Hotline</span>
                            <span class="footer-infor-list_items_text">(+84) 983 580 811</span>
                        </li>
                        <li class="footer-infor-list_items">
                            <span class="footer-infor-list_items_title">Email</span>
                            <span class="footer-infor-list_items_text">infor.itravel@gmail.com.vn</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <div class="footer-social-media-contain">
                        <span class="footer-social-media">Social media</span>
                        <div class="footer-social-media_list_icon">
                            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M30.2273 0H4.77273C2.13682 0 0 2.13682 0 4.77273V30.2273C0 32.8632 2.13682 35 4.77273 35H30.2273C32.8632 35 35 32.8632 35 30.2273V4.77273C35 2.13682 32.8632 0 30.2273 0Z"
                                    fill="#DBDBDB" />
                                <path
                                    d="M23.0429 15.4278L22.6909 18.4764C22.6763 18.6155 22.6111 18.7444 22.5077 18.8386C22.4043 18.9329 22.2699 18.9858 22.1301 18.9875H18.9483L18.9324 28.0259C18.9334 28.133 18.8923 28.2362 18.8179 28.3132C18.7435 28.3902 18.6417 28.4349 18.5346 28.4375H15.311C15.2575 28.4375 15.2044 28.4268 15.1551 28.4058C15.1058 28.3848 15.0612 28.3541 15.024 28.3154C14.9869 28.2768 14.9579 28.2311 14.9389 28.181C14.9199 28.1309 14.9112 28.0774 14.9133 28.0239V18.9875H12.527C12.452 18.9867 12.3779 18.9712 12.309 18.9418C12.24 18.9124 12.1776 18.8697 12.1251 18.8161C12.0727 18.7626 12.0313 18.6992 12.0033 18.6297C11.9754 18.5601 11.9614 18.4857 11.9622 18.4108L11.9503 15.3622C11.9492 15.287 11.963 15.2123 11.9908 15.1424C12.0186 15.0725 12.0599 15.0088 12.1124 14.9549C12.1648 14.901 12.2274 14.8579 12.2964 14.8282C12.3655 14.7984 12.4398 14.7826 12.515 14.7815H14.9133V11.8384C14.9133 8.42187 16.9417 6.5625 19.9167 6.5625H22.3548C22.4302 6.56328 22.5047 6.57893 22.574 6.60856C22.6433 6.63819 22.7061 6.68121 22.7587 6.73516C22.8114 6.78911 22.8529 6.85292 22.8808 6.92294C22.9088 6.99296 22.9226 7.0678 22.9216 7.14318V9.70852C22.9226 9.7839 22.9088 9.85875 22.8808 9.92876C22.8529 9.99878 22.8114 10.0626 22.7587 10.1165C22.7061 10.1705 22.6433 10.2135 22.574 10.2431C22.5047 10.2728 22.4302 10.2884 22.3548 10.2892H20.8593C19.2426 10.2892 18.9284 11.0847 18.9284 12.2341V14.7815H22.4821C22.5629 14.7825 22.6426 14.8007 22.7159 14.8347C22.7892 14.8687 22.8545 14.9178 22.9075 14.9789C22.9604 15.0399 22.9999 15.1115 23.0232 15.1889C23.0466 15.2662 23.0533 15.3477 23.0429 15.4278Z"
                                    fill="white" />
                            </svg>
                            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M30.2273 0H4.77273C2.13682 0 0 2.13682 0 4.77273V30.2273C0 32.8632 2.13682 35 4.77273 35H30.2273C32.8632 35 35 32.8632 35 30.2273V4.77273C35 2.13682 32.8632 0 30.2273 0Z"
                                    fill="#DBDBDB" />
                                <path
                                    d="M17.5435 7.96517C13.2598 7.96517 9.192 7.58411 7.63827 11.5717C6.99648 13.2186 7.08968 15.3575 7.08968 18.4201C7.08968 21.1076 7.00356 23.6334 7.63827 25.2674C9.18846 29.2573 13.2893 28.8751 17.5411 28.8751C21.6431 28.8751 25.8725 29.3021 27.4451 25.2674C28.0881 23.6039 27.9937 21.4969 27.9937 18.4201C27.9937 14.3358 28.219 11.6991 26.2382 9.71946C24.2326 7.71388 21.5204 7.96517 17.5387 7.96517H17.5435ZM16.6067 9.84923C25.5422 9.83507 26.6794 8.84172 26.0518 22.6413C25.8288 27.5219 22.1126 26.9863 17.5446 26.9863C9.21559 26.9863 8.9761 26.748 8.9761 18.4154C8.9761 9.98608 9.63676 9.85395 16.6067 9.84687V9.84923ZM23.1237 11.5846C22.4312 11.5846 21.8696 12.1462 21.8696 12.8387C21.8696 13.5312 22.4312 14.0928 23.1237 14.0928C23.8162 14.0928 24.3778 13.5312 24.3778 12.8387C24.3778 12.1462 23.8162 11.5846 23.1237 11.5846ZM17.5435 13.0511C14.5787 13.0511 12.1756 15.4554 12.1756 18.4201C12.1756 21.3848 14.5787 23.788 17.5435 23.788C20.5082 23.788 22.9101 21.3848 22.9101 18.4201C22.9101 15.4554 20.5082 13.0511 17.5435 13.0511ZM17.5435 14.9351C22.1504 14.9351 22.1563 21.9051 17.5435 21.9051C12.9377 21.9051 12.9306 14.9351 17.5435 14.9351Z"
                                    fill="white" />
                            </svg>
                            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M30.2273 0H4.77273C2.13682 0 0 2.13682 0 4.77273V30.2273C0 32.8632 2.13682 35 4.77273 35H30.2273C32.8632 35 35 32.8632 35 30.2273V4.77273C35 2.13682 32.8632 0 30.2273 0Z"
                                    fill="#DBDBDB" />
                                <path
                                    d="M12.6918 9.7707C12.6918 10.3438 12.5218 10.904 12.2034 11.3805C11.8851 11.8571 11.4325 12.2285 10.903 12.4478C10.3735 12.6671 9.79092 12.7245 9.22883 12.6127C8.66674 12.5009 8.15043 12.2249 7.74519 11.8196C7.33994 11.4144 7.06397 10.8981 6.95216 10.336C6.84036 9.77391 6.89774 9.19129 7.11706 8.66182C7.33637 8.13234 7.70777 7.67979 8.18429 7.36139C8.66081 7.04299 9.22104 6.87305 9.79414 6.87305C10.5626 6.87305 11.2997 7.17833 11.8431 7.72175C12.3865 8.26517 12.6918 9.00219 12.6918 9.7707Z"
                                    fill="white" />
                                <path
                                    d="M12.0344 14.5995V27.4013C12.0349 27.4957 12.0167 27.5894 11.9809 27.6768C11.9451 27.7642 11.8924 27.8436 11.8258 27.9106C11.7592 27.9775 11.68 28.0307 11.5928 28.0669C11.5056 28.1032 11.4121 28.1219 11.3177 28.1219H8.26354C8.1691 28.1221 8.07554 28.1037 7.98824 28.0677C7.90094 28.0316 7.82162 27.9787 7.75483 27.9119C7.68805 27.8452 7.63513 27.7658 7.59911 27.6785C7.56308 27.5912 7.54467 27.4977 7.54492 27.4032V14.5995C7.54492 14.4089 7.62064 14.2261 7.7554 14.0913C7.89017 13.9566 8.07295 13.8809 8.26354 13.8809H11.3177C11.5079 13.8814 11.6902 13.9573 11.8246 14.092C11.9589 14.2267 12.0344 14.4092 12.0344 14.5995Z"
                                    fill="white" />
                                <path
                                    d="M28.0011 21.2642V27.4613C28.0014 27.5481 27.9845 27.6341 27.9514 27.7144C27.9183 27.7947 27.8696 27.8676 27.8082 27.929C27.7468 27.9904 27.6739 28.0391 27.5936 28.0722C27.5133 28.1053 27.4273 28.1222 27.3405 28.122H24.0565C23.9696 28.1222 23.8836 28.1053 23.8033 28.0722C23.7231 28.0391 23.6501 27.9904 23.5887 27.929C23.5273 27.8676 23.4787 27.7947 23.4456 27.7144C23.4125 27.6341 23.3956 27.5481 23.3958 27.4613V21.4554C23.3958 20.5591 23.6585 17.5301 21.0526 17.5301C19.0339 17.5301 18.6224 19.6029 18.5413 20.534V27.4613C18.5413 27.6348 18.473 27.8014 18.3512 27.9251C18.2294 28.0487 18.0638 28.1194 17.8903 28.122H14.7183C14.6316 28.122 14.5458 28.1048 14.4658 28.0716C14.3857 28.0384 14.313 27.9897 14.2518 27.9283C14.1906 27.867 14.1422 27.7941 14.1092 27.714C14.0762 27.6338 14.0593 27.548 14.0596 27.4613V14.5435C14.0593 14.4569 14.0762 14.371 14.1092 14.2909C14.1422 14.2107 14.1906 14.1379 14.2518 14.0765C14.313 14.0151 14.3857 13.9664 14.4658 13.9332C14.5458 13.9 14.6316 13.8829 14.7183 13.8829H17.8903C18.0655 13.8829 18.2335 13.9525 18.3574 14.0764C18.4813 14.2003 18.5509 14.3683 18.5509 14.5435V15.6601C19.3005 14.5358 20.4112 13.6685 22.7815 13.6685C28.0321 13.6685 28.0011 18.5713 28.0011 21.2642Z"
                                    fill="white" />
                            </svg>

                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="copy-right-itravel">
            <span>
                2022 © Itravel. All Rights Reseverd
            </span>
        </div>
    </div>
</div>