<div class="intro-home w-100">
    <div class="container-fluid py-2">
        <div class="px-md-5 mx-md-5">        
            <div class="contact-intro d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="phone-icon">
                        <img src="/imgs/icons/phone-icon.png" alt="phone icon">
                    </div>
                    <span class="ml-3  text-light">
                        {{!-- {{i18n 'Home'}} --}}
                        098 358 0811
                    </span>
                </div>
                <div class="d-flex">
                    <span style="cursor: pointer;" class="nav-link text-light" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        VIE
                        <i class="fas fa-chevron-down"></i>
                    </span>
                    <div class="dropdown-menu">
                        <span class="dropdown-item">VIE</span>
                        <span class="dropdown-item">EN</span>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-i-primary">
    <div class="container-fluid px-md-5 mx-md-5">
        <a class="navbar-brand" href="/">
            <img class="img-fluid" src="/imgs/main_imgs/Logo_Home.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-2 nav-item-itravel active">
                    <a class="nav-link text-light" href="#">Về chúng tôi</a>
                </li>
                <li class="nav-item mx-2 nav-item-itravel">
                    <a class="nav-link text-light" href="#">Dịch vụ</a>
                </li>
                <li class="nav-item mx-2 nav-item-itravel">
                    <a class="nav-link text-light" href="#">Điểm đến</a>
                </li>
                <li class="nav-item mx-2 nav-item-itravel">
                    <a class="nav-link text-light" href="#">Tin tức</a>
                </li>
                <li class="nav-item mx-2 nav-item-itravel">
                    <a class="nav-link text-light" href="#">Liên hệ</a>
                </li>
                <li class="nav-item mx-2 nav-item-itravel">
                    <a class="nav-link text-light" href="#">Booking</a>
                </li>
            </ul>
        </div>
    </div>  
</nav>