<div class="intro-home"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-i-primary">
    <div class="container-fluid px-md-5 mx-md-5">
        <a class="navbar-brand" href="#">
            <img class="img-fluid" src="/imgs/main_imgs/Logo_Home.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-2 nav-item-itravel active">
                    <a class="nav-link text-light" href="#">Về chúng tôi</a>
                </li>
                <li class="nav-item mx-2 nav-item-itravel">
                    <a class="nav-link text-light" href="#">Dịch vụ</a>
                </li>
                <li class="nav-item mx-2 nav-item-itravel">
                    <a class="nav-link text-light" href="#">Điểm đến</a>
                </li>
                <li class="nav-item mx-2 nav-item-itravel">
                    <a class="nav-link text-light" href="#">Tin tức</a>
                </li>
                <li class="nav-item mx-2 nav-item-itravel">
                    <a class="nav-link text-light" href="#">Liên hệ</a>
                </li>
                <li class="nav-item mx-2 nav-item-itravel">
                    <a class="nav-link text-light" href="#">Booking</a>
                </li>
            </ul>
        </div>
    </div>  
</nav>