<form method="POST" action="/uploadimgs" enctype="multipart/form-data">
    <input type="text" name="testText">
    <div class="filesbds"></div>

    <button type="submit">Submit and display data</button>

</form>
<script>
    $(function () {
        $('.filesbds').imageUploader({
            imagesInputName: 'filesbds',
        });
    })
</script>