<div class="IBESearchForm" style="margin-left: 0px; width: 480px !important;">
<script type="text/javascript">        
    var IBEBasePath = ("https:" == document.location.protocol ? "https://" : "http://") + "ibev3.webvemaybay.com";
    var IBEConfigs = {
        languageCode: 'vi-VN',
        colorScheme: 'default',
        productKey: 'zlvd4ni7yk1cnjp',
        searchForm: {
            showHeader: true
        }
    };
    (function () {
        var ibe = document.createElement("script");
        ibe.type = "text/javascript"; ibe.async = true;
        ibe.src = IBEBasePath + "/embed.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(ibe, s);
    })();
</script>

<form method="POST" action="/uploadimgs" enctype="multipart/form-data">
    <div class="filesbds"></div>

    <button type="submit">Submit and display data</button>

</form>


<script>
    $(function () {
        $('.filesbds').imageUploader({
            imagesInputName: 'filesbds',
        });
    })
</script>
