<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Default App</title>
    <link rel="stylesheet" href="/css/common/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common/fontawesome.min.css">
    <link rel="stylesheet" href="/css/images_uploader/image-uploader.min.css">
    <script src="/js/common/jquery-3.6.0.min.js"></script>
    <script src="/js/common/fontawesome.min.js"></script>   
</head>
<body>

    {{{body}}}

    <script src="/js/common/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        var message = "Hi mn!!";
        //socket.emit('chat-message', message);
        socket.on("send-chat-message",(message)=>{
            console.log(message);
        })
    </script>    
    <script src="/js/images_uploader/image-uploader.min.js"></script>
</body>
</html>